<div class="swiper-slide">
    <section class="section">
        <div class="about">
            <div class="about__bg">
                <img src="/images/about.webp" alt="" class="about__bg-image">
            </div>
            <div class="about__content">
                <h2 class="about__title">
                    АО «ТАИФ-НК»
                </h2>
                <div class="about__text">
                    Это НПЗ с собственным научно-исследовательским центром по глубокой переработке тяжелых нефтяных
                    остатков
                </div>
            </div>
        </div>
    </section>
</div>