<div class="swiper-slide">
    <section class="section" data-section-name="cracking">
        <div class="cracking">
            <div class="cracking__content">
                <h2 class="cracking__heading">
                    Строительство установки получения концентрированного остатка
                    гидрокрекинга гудрона (КОГГ)
                </h2>
                <div class="cracking__equipment">
                    <div class="cracking__equipment-title">
                        Отечественное оборудование
                    </div>
                    <div class="cracking__equipment-text">
                        При строительстве новой установки использовалось оборудование преимущественно отечественного
                        производства
                    </div>
                </div>
                <div class="cracking__numbers">
                    <div class="cracking__numbers-title">
                        Ключевые показатели, связанные с эксплуатацией установки:
                    </div>
                    <div class="cracking__numbers-grid">
                        <div class="cracking__numbers-card">
                            <div class="cracking__numbers-card-prefix">
                                Более
                            </div>
                            <div class="cracking__numbers-card-amount">
                                30
                            </div>
                            <div class="cracking__numbers-card-content">
                                <div class="cracking__numbers-card-title">
                                    тысяч тонн
                                </div>
                                <div class="cracking__numbers-card-text">
                                    после ввода в эксплуатацию установки КОГГ с ноября 2024 года произведено и отгружено
                                </div>
                            </div>
                        </div>
                        <div class="cracking__numbers-card">
                            <div class="cracking__numbers-card-prefix">
                                На
                            </div>
                            <div class="cracking__numbers-card-amount">
                                1,7
                            </div>
                            <div class="cracking__numbers-card-content">
                                <div class="cracking__numbers-card-title">
                                    % масс
                                </div>
                                <div class="cracking__numbers-card-text">
                                    фактический рост извлечения светлых нефтепродуктов
                                </div>
                            </div>
                        </div>
                        <div class="cracking__green-card">
                            <div class="cracking__green-card-title">
                                Высокая экологичность
                            </div>
                            <div class="cracking__green-card-text">
                                Отсутствие содержания бензапирена по сравнению с каменноугольным пеком и низкое
                                содержание серы по сравнению с нефтяным коксом
                            </div>
                        </div>
                        <div class="cracking__numbers-card">
                            <div class="cracking__numbers-card-prefix">
                                В
                            </div>
                            <div class="cracking__numbers-card-amount">
                                4,3
                            </div>
                            <div class="cracking__numbers-card-content">
                                <div class="cracking__numbers-card-title">
                                    раза меньше тяжелого остатка
                                </div>
                                <div class="cracking__numbers-card-text">
                                    по сравнению с вариантом переработки гудрона на УЗК (установка замедленного
                                    коксования)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cracking__card">
                <div class="cracking__card-bg">
                    <img src="/images/cracking.webp" alt="" class="cracking__card-bg-image">
                </div>
                <div class="cracking__card-wrapper">
                    <div class="cracking__card-heading">
                        Установка
                        производства КОГГ
                    </div>
                    <div class="cracking__card-text">
                        Cвязующее для производства анодной массы в технологии получения алюминия.
                    </div>
                    <div class="cracking__card-purpose">
                        <div class="cracking__card-purpose-title">
                            Назначение
                        </div>
                        <div class="cracking__card-purpose-desc">
                            <p>
                                В результате переработки остатка гидрокрекинга гудрона получаются следующие продукты:
                            </p>
                            <ul>
                                <li>
                                    Дистиллят вакуумный - сырье для установки кат. крекинга
                                </li>
                                <li>
                                    Концентрированный остаток гидрокрекинга гудрона – готовый продукт для применения в
                                    производстве черной и цветной металлургии.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>