<div class="swiper-slide">
    <section class="section" data-section-name="developments">
        <div class="developments">
            <div class="developments__bg">
                <img src="/images/developments.webp" alt="" class="developments__bg-image">
            </div>
            <div class="developments__content">
                <div class="developments__top-row">
                    <h2 class="developments__title">
                        Основные разработки группы ТАИФ
                        по&nbsp;собственной технологии
                        TAIFCOMBI
                    </h2>
                    <div class="developments__count">
                        <div class="developments__count-number">
                            230
                        </div>
                        <div class="developments__count-content">
                            <div class="developments__count-title">
                                собственных разработок
                                и ноу-хау
                            </div>
                            <div class="developments__count-text">
                                было разработано и внедрено за весь период изменения проекта
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="developments__list">
                    <li class="developments__list-item">
                        <div class="developments__card">
                            <div class="developments__card-wrapper">
                                <div class="developments__card-number">

                                </div>
                                <div class="developments__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#developments-1"></use>
                                    </svg>
                                </div>
                            </div>
                            <h3 class="developments__card-title">
                                Разработан и запущен в работу узел редуцирования давления
                            </h3>
                        </div>
                    </li>
                    <li class="developments__list-item">
                        <div class="developments__card">
                            <div class="developments__card-wrapper">
                                <div class="developments__card-number">

                                </div>
                                <div class="developments__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#developments-2"></use>
                                    </svg>
                                </div>
                            </div>
                            <h3 class="developments__card-title">
                                Разработана высокоэффективная секция выделения отработанной угольной добавки из
                                неконвертированного остатка
                            </h3>
                        </div>
                    </li>
                    <li class="developments__list-item">
                        <div class="developments__card">
                            <div class="developments__card-wrapper">
                                <div class="developments__card-number">

                                </div>
                                <div class="developments__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#developments-3"></use>
                                    </svg>
                                </div>
                            </div>
                            <h3 class="developments__card-title">
                                Изучены и использованы различные материалы и защитные покрытия
                            </h3>
                            <div class="developments__card-text">
                                А также конструктивные решения для предотвращения эрозии статического и динамического
                                оборудования
                            </div>
                        </div>
                    </li>
                    <li class="developments__list-item">
                        <div class="developments__card">
                            <div class="developments__card-wrapper">
                                <div class="developments__card-number">

                                </div>
                                <div class="developments__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#developments-4"></use>
                                    </svg>
                                </div>
                            </div>
                            <h3 class="developments__card-title">
                                Разработана специализированная угольная добавка с новыми требованиями
                            </h3>
                            <div class="developments__card-text">
                                Для эффективной конверсии асфальтенов и обеспечения необходимой гидродинамики процесса
                            </div>
                        </div>
                    </li>
                    <li class="developments__list-item">
                        <div class="developments__card">
                            <div class="developments__card-wrapper">
                                <div class="developments__card-number">

                                </div>
                                <div class="developments__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#developments-5"></use>
                                    </svg>
                                </div>
                            </div>
                            <h3 class="developments__card-title">
                                Разработана новая технология переработки неконвертированного остатка
                            </h3>
                            <div class="developments__card-text">
                                В концентрированный остаток гидрокрекинга гудронапродукт для производства
                                металлургической шихты (аналог анодного кокса) с полным отсутствием бензоперенов
                            </div>
                        </div>
                    </li>
                    <li class="developments__list-item">
                        <div class="developments__card">
                            <div class="developments__card-wrapper">
                                <div class="developments__card-number">

                                </div>
                                <div class="developments__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#developments-5"></use>
                                    </svg>
                                </div>
                            </div>
                            <h3 class="developments__card-title">
                                Разработана технология производства литейного кокса из остаточных продуктов
                                суспензионного гидрокрекинга гудрона
                            </h3>

                        </div>
                    </li>
                    <li class="developments__list-item">
                        <div class="developments__card">
                            <div class="developments__card-wrapper">
                                <div class="developments__card-number">

                                </div>
                                <div class="developments__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#developments-6"></use>
                                    </svg>
                                </div>
                            </div>
                            <h3 class="developments__card-title">
                                Разработана технология производства литейного кокса из остаточных продуктов
                                суспензионного гидрокрекинга гудрона
                            </h3>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </section>
</div>