<div class="swiper-slide">
    <section class="section" data-section-name="dynamics">
        <div class="dynamics">
            <div class="dynamics__content">
                <div class="dynamics__top-row">
                    <div class="dynamics__title-wrapper">
                        <h2 class="dynamics__heading">
                            Динамика выхода <em>светлых нефтепродуктов,</em> %
                        </h2>
                        <div class="dynamics__year">
                            1995-2024 гг.
                        </div>
                    </div>
                    <div class="dynamics__legend">
                        <div class="dynamics__legend-item">
                            <div class="dynamics__legend-box dynamics__legend-box--filled">

                            </div>
                            <div class="dynamics__legend-text">
                                Выход светлых нефтепродуктов, % масс.
                            </div>
                        </div>
                        <div class="dynamics__legend-item">
                            <div class="dynamics__legend-box">

                            </div>
                            <div class="dynamics__legend-text">
                                Выход темных нефтепродуктов, % масс.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dynamics__chart">
                    <div class="dynamics__chart-bars">
                        <div class="dynamics__chart-bar">
                            <div class="dynamics__chart-bar-top" style="--percentage: 63.2%">
                                <div class="dynamics__chart-bar-top-inner">
                                    <span>63,2</span>
                                </div>
                            </div>
                            <div class="dynamics__chart-bar-bottom" style="--percentage: 36.3%">
                                <div class="dynamics__chart-bar-bottom-inner">
                                    <span>
                                        36,3
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="dynamics__chart-bar">
                            <div class="dynamics__chart-bar-top" style="--percentage: 55%">
                                <div class="dynamics__chart-bar-top-inner">
                                    <span>
                                        55,0
                                    </span>
                                </div>
                            </div>
                            <div class="dynamics__chart-bar-bottom" style="--percentage: 44.4%">
                                <div class="dynamics__chart-bar-bottom-inner">
                                    <span>
                                        44,4
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="dynamics__chart-bar">
                            <div class="dynamics__chart-bar-top" style="--percentage: 49.6%">
                                <div class="dynamics__chart-bar-top-inner">
                                    <span>
                                        49,6
                                    </span>
                                </div>
                            </div>
                            <div class="dynamics__chart-bar-bottom" style="--percentage: 49.6%">
                                <div class="dynamics__chart-bar-bottom-inner">
                                    <span>
                                        49,6
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="dynamics__chart-bar">
                            <div class="dynamics__chart-bar-top" style="--percentage: 36.9%">
                                <div class="dynamics__chart-bar-top-inner">
                                    <span>
                                        36,9
                                    </span>
                                </div>
                            </div>
                            <div class="dynamics__chart-bar-bottom" style="--percentage: 62.2%">
                                <div class="dynamics__chart-bar-bottom-inner">
                                    <span>
                                        62,2
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="dynamics__chart-bar">
                            <div class="dynamics__chart-bar-top" style="--percentage: 22.5%">
                                <div class="dynamics__chart-bar-top-inner">
                                    <span>
                                        22,5
                                    </span>
                                </div>
                            </div>
                            <div class="dynamics__chart-bar-bottom" style="--percentage: 76.1%">
                                <div class="dynamics__chart-bar-bottom-inner">
                                    <span>
                                        76,1
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="dynamics__chart-bar">
                            <div class="dynamics__chart-bar-top" style="--percentage: 19.2%">
                                <div class="dynamics__chart-bar-top-inner">
                                    <span>
                                        19,2
                                    </span>
                                </div>
                            </div>
                            <div class="dynamics__chart-bar-bottom" style="--percentage: 78.5%">
                                <div class="dynamics__chart-bar-bottom-inner">
                                    <span>
                                        78,5
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="dynamics__chart-bar">
                            <div class="dynamics__chart-bar-top" style="--percentage: 3.1%">
                                <div class="dynamics__chart-bar-top-inner">
                                    <span>
                                        3,1
                                    </span>
                                </div>
                            </div>
                            <div class="dynamics__chart-bar-bottom" style="--percentage: 94.6%">
                                <div class="dynamics__chart-bar-bottom-inner">
                                    <span>
                                        94,6
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="dynamics__chart-bar">
                            <div class="dynamics__chart-bar-bottom" style="--percentage: 98.2%">
                                <div class="dynamics__chart-bar-bottom-inner">
                                    <span>
                                        98,2
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dynamics__chart-years">
                        <span class="dynamics__chart-years-line">
                            <span>

                            </span>
                            <span>

                            </span>
                        </span>
                        <div class="dynamics__chart-year">
                            <span>
                                1995
                            </span>
                        </div>
                        <div class="dynamics__chart-year">
                            <span>
                                2000
                            </span>
                        </div>
                        <div class="dynamics__chart-year">
                            <span>
                                2005
                            </span>
                        </div>
                        <div class="dynamics__chart-year">
                            <span>
                                2015
                            </span>
                        </div>
                        <div class="dynamics__chart-year">
                            <span>
                                2020
                            </span>
                        </div>
                        <div class="dynamics__chart-year">
                            <span>
                                2024
                            </span>
                        </div>
                        <div class="dynamics__chart-year">
                            <span>
                                Март 2024
                            </span>
                        </div>
                        <div class="dynamics__chart-year">
                            <span>
                                Проект
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dynamics__card">
                <div class="dynamics__card-bg">
                    <img src="/images/dynamics.webp" alt="" class="dynamics__card-bg-image">
                </div>
                <div class="dynamics__card-wrapper">
                    <div class="dynamics__card-wrapper-grid">
                        <div class="dynamics__card-text">
                            С 1995 года АО «ТАИФ-НК» увеличило выход светлых нефтепродуктов
                            в 2,4 раза без увеличения первичных мощностей по переработке нефти
                        </div>
                        <div class="dynamics__card-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-up"></use>
                            </svg>
                        </div>
                        <div class="dynamics__card-amount">
                            <span class="x">
                                х</span><span class="count">
                                2,4
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>