<div class="swiper-slide">
    <section class="section" data-section-name="effective">
        <div class="effective">
            <div class="effective__top-row">
                <h2 class="effective__heading">
                    Эффективность различных процессов<br>
                    по переработке гудрона<span>*</span> в товарные нефтепродукты<br>
                    с высокой добавленной стоимостью
                </h2>
                <div class="effective__legend">
                    <div class="effective__legend-item">
                        <div class="effective__legend-item-box">

                        </div>
                        Топливный газ и СУГи
                    </div>
                    <div class="effective__legend-item">
                        <div class="effective__legend-item-box" style="background: #333;">

                        </div>
                        Тяжелый газойль
                    </div>
                    <div class="effective__legend-item">
                        <div class="effective__legend-item-box" style="background: #16A788;">

                        </div>
                        Прямогонный бензин
                    </div>
                    <div class="effective__legend-item">
                        <div class="effective__legend-item-box" style="background: #FF8E15;">

                        </div>
                        ГОВГО
                    </div>
                    <div class="effective__legend-item">
                        <div class="effective__legend-item-box" style="background: #008568;">

                        </div>
                        ДТ
                    </div>
                    <div class="effective__legend-item">
                        <div class="effective__legend-item-box" style="background: #A68C5A;">

                        </div>
                        Сера
                    </div>
                </div>
            </div>
            <div class="effective__chart">
                <h3 class="effective__chart-title">
                    В мире на 2024 год
                </h3>
                <div class="effective__chart-table">
                    <div class="effective__chart-table-rows">
                        <div class="effective__chart-table-row">
                            <div class="effective__chart-table-cell">
                                Страна первого запуска
                            </div>
                            <div class="effective__chart-table-cell">
                                🇺🇸 США
                            </div>
                            <div class="effective__chart-table-cell">
                                🇺🇸 США
                            </div>
                            <div class="effective__chart-table-cell">
                                🇺🇸 США
                            </div>
                            <div class="effective__chart-table-cell">
                                🇺🇸 США
                            </div>
                            <div class="effective__chart-table-cell">
                                🇺🇸 США
                            </div>
                            <div class="effective__chart-table-cell">
                                🇮🇹 Италия
                            </div>
                            <div class="effective__chart-table-cell">
                                🇷🇺 Россия, Нижнекамск
                            </div>
                        </div>
                        <div class="effective__chart-table-row">
                            <div class="effective__chart-table-cell">
                                Год первого запуска
                            </div>
                            <div class="effective__chart-table-cell">
                                1925
                            </div>
                            <div class="effective__chart-table-cell">
                                1929
                            </div>
                            <div class="effective__chart-table-cell">
                                1968
                            </div>
                            <div class="effective__chart-table-cell">
                                1970
                            </div>
                            <div class="effective__chart-table-cell">
                                1976
                            </div>
                            <div class="effective__chart-table-cell">
                                2013
                            </div>
                            <div class="effective__chart-table-cell">
                                2021
                            </div>
                        </div>
                        <div class="effective__chart-table-row">
                            <div class="effective__chart-table-cell">
                                Мощность по сырью, млн тн/год
                            </div>
                            <div class="effective__chart-table-cell">
                                0,5
                            </div>
                            <div class="effective__chart-table-cell">
                                0,1
                            </div>
                            <div class="effective__chart-table-cell">
                                1,0
                            </div>
                            <div class="effective__chart-table-cell">
                                1,2
                            </div>
                            <div class="effective__chart-table-cell">
                                0,8
                            </div>
                            <div class="effective__chart-table-cell">
                                1,1
                            </div>
                            <div class="effective__chart-table-cell">
                                3,6
                            </div>
                        </div>
                    </div>
                    <div class="effective__chart-table-columns">
                        <div class="effective__chart-table-column">
                            <div class="effective__chart-table-remark">
                                <div class="effective__chart-table-remark-symbol">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="7" viewBox="0 0 8 7">
                                        <path
                                            d="M4.90698 0V2.4434L7.32558 1.56289L8 3.19182L5.53488 4.00629L7 5.96541L5.5814 7L3.97674 4.97484L2.53488 7L0.953488 5.98742L2.44186 4.0283L0 3.19182L0.651163 1.56289L3.04651 2.4434V0H4.90698Z" />
                                    </svg>
                                </div>
                                <div class="effective__chart-table-remark-title">
                                    Тяжелые остатки
                                    перегонки нефти
                                </div>
                                <div class="effective__chart-table-remark-text">
                                    При переработке нефти с содержанием серы до 1,8% масс. и плотностью при 20°С
                                    до&nbsp;870 кг/м3
                                </div>
                            </div>
                        </div>
                        <div class="effective__chart-table-column">
                            <div class="effective__chart-table-column-percentages">
                                <div class="effective__chart-table-column-bar">
                                    <div class="effective__chart-table-column-bar-inner">

                                    </div>
                                </div>
                                <div class="effective__chart-table-column-percentages-wrapper">
                                    <div class="effective__chart-table-column-percentages-amount">
                                        22%
                                    </div>
                                    <div class="effective__chart-table-column-percentages-items">
                                        <div class="effective__chart-table-column-percentages-item">
                                            2%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 3rem; background: #16A788;">
                                            5%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 3rem; background: #008568;">
                                            15%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="effective__chart-table-column-title">
                                Висбрекинг
                            </div>
                        </div>
                        <div class="effective__chart-table-column">
                            <div class="effective__chart-table-column-percentages">
                                <div class="effective__chart-table-column-bar">
                                    <div class="effective__chart-table-column-bar-inner">

                                    </div>
                                </div>
                                <div class="effective__chart-table-column-percentages-wrapper">
                                    <div class="effective__chart-table-column-percentages-amount">
                                        70%
                                    </div>
                                    <div class="effective__chart-table-column-percentages-items">
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 2.5rem;">
                                            8%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 4.5rem; background: #16A788;">
                                            11%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 4.8rem; background: #008568;">
                                            28%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 5rem; background: #333;">
                                            23%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="effective__chart-table-column-title">
                                УЗК
                            </div>
                        </div>
                        <div class="effective__chart-table-column">
                            <div class="effective__chart-table-column-percentages">
                                <div class="effective__chart-table-column-bar">
                                    <div class="effective__chart-table-column-bar-inner">

                                    </div>
                                </div>
                                <div class="effective__chart-table-column-percentages-wrapper">
                                    <div class="effective__chart-table-column-percentages-amount">
                                        72%
                                    </div>
                                    <div class="effective__chart-table-column-percentages-items">
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 2rem;">
                                            5%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 3rem; background: #16A788;">
                                            14%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 4.5rem; background: #008568;">
                                            20%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 6.1rem; background: #FF8E15;">
                                            32%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 2rem; background: #A68C5A;">
                                            1,5%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="effective__chart-table-column-title">
                                H-Oil (Axens)
                            </div>
                            <div class="effective__chart-table-column-remark">
                                Катализаторы на основе цеолитов, содержащие Ni, Co, Mo, W
                            </div>
                        </div>
                        <div class="effective__chart-table-column">
                            <div class="effective__chart-table-column-percentages">
                                <div class="effective__chart-table-column-bar">
                                    <div class="effective__chart-table-column-bar-inner">

                                    </div>
                                </div>
                                <div class="effective__chart-table-column-percentages-wrapper">
                                    <div class="effective__chart-table-column-percentages-amount">
                                        78%
                                    </div>
                                    <div class="effective__chart-table-column-percentages-items">
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 2.5rem;">
                                            6%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 3.5rem; background: #16A788;">
                                            12%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 4.1rem; background: #008568;">
                                            28%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 7.5rem; background: #FF8E15;">
                                            30%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 2rem; background: #A68C5A;">
                                            1,5%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="effective__chart-table-column-title">
                                LC-Fining (Chevron)
                            </div>
                            <div class="effective__chart-table-column-remark">
                                Катализаторы на основе цеолитов, содержащие Ni, Co, Mo, W
                            </div>
                        </div>
                        <div class="effective__chart-table-column">
                            <div class="effective__chart-table-column-percentages">
                                <div class="effective__chart-table-column-bar">
                                    <div class="effective__chart-table-column-bar-inner">

                                    </div>
                                </div>
                                <div class="effective__chart-table-column-percentages-wrapper">
                                    <div class="effective__chart-table-column-percentages-amount">
                                        93%
                                    </div>
                                    <div class="effective__chart-table-column-percentages-items">
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 3.5rem;">
                                            9%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 5rem; background: #16A788;">
                                            18%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 8.5rem; background: #008568;">
                                            45%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 5rem; background: #FF8E15;">
                                            19%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 2rem; background: #A68C5A;">
                                            1,7%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="effective__chart-table-column-title">
                                Uniflex (UOP)
                            </div>
                            <div class="effective__chart-table-column-remark">
                                Молибденовый катализатор (MoS2)
                            </div>
                        </div>
                        <div class="effective__chart-table-column">
                            <div class="effective__chart-table-column-percentages">
                                <div class="effective__chart-table-column-bar">
                                    <div class="effective__chart-table-column-bar-inner">

                                    </div>
                                </div>
                                <div class="effective__chart-table-column-percentages-wrapper">
                                    <div class="effective__chart-table-column-percentages-amount">
                                        94%
                                    </div>
                                    <div class="effective__chart-table-column-percentages-items">
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 5rem;">
                                            17%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 3.5rem; background: #16A788;">
                                            6%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 6.5rem; background: #008568;">
                                            40%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 7rem; background: #FF8E15;">
                                            29%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 2rem; background: #A68C5A;">
                                            1,7%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="effective__chart-table-column-title">
                                EST (Eni)
                            </div>
                            <div class="effective__chart-table-column-remark">
                                Молибденовый катализатор (MoS2)
                            </div>
                        </div>
                        <div class="effective__chart-table-column">
                            <div class="effective__chart-table-column-percentages">
                                <div class="effective__chart-table-column-bar">
                                    <div class="effective__chart-table-column-bar-inner">

                                    </div>
                                </div>
                                <div class="effective__chart-table-column-percentages-wrapper">
                                    <div class="effective__chart-table-column-percentages-amount">
                                        97%
                                    </div>
                                    <div class="effective__chart-table-column-percentages-items">
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 3.5rem;">
                                            8%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 5rem; background: #16A788;">
                                            20%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 10.5rem; background: #008568;">
                                            54%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 4rem; background: #FF8E15;">
                                            14%
                                        </div>
                                        <div class="effective__chart-table-column-percentages-item"
                                            style="height: 2rem; background: #A68C5A;">
                                            1,7%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="effective__chart-table-column-title">
                                TAIFCOMBI (ТАИФ)
                            </div>
                            <div class="effective__chart-table-column-remark">
                                Специализированная активированная угольная добавка
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>