<div class="swiper-slide">
    <section class="section">
        <div class="end">
            <div class="end__bg">
                <img src="/images/end.webp" alt="" class="end__bg-image">
            </div>
            <div class="end__content">
                <div class="end__title">
                    СПАСИБО<br>
                    ЗА ВНИМАНИЕ!
                </div>
                <div class="end__bottom-row">
                    <div class="end__left">
                        <div class="end__address">
                            АО «ТАИФ» г. Нижнекамск, ул. Соболековская, здание 45, офис 108
                        </div>
                        <div class="end__phone">
                            +7 (8555) 38-16-16
                        </div>
                        <div class="end__email">
                            delo@taifnk.ru
                        </div>
                    </div>
                    <div class="end__right">
                        <div class="end__address">
                            Управление по нефтехимии и нефтепереработке
                        </div>
                        <div class="end__phone">
                            +7 (843) 277-94-19
                        </div>
                        <div class="end__email">
                            ahunovrn@taif.ru
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>