<div class="swiper-slide">
    <section class="section" data-section-name="gasoline">
        <div class="gasoline">
            <h2 class="gasoline__heading">
                Состав производственных мощностей<br>
                завода бензинов на 2024 год
            </h2>
            <div class="gasoline__row">
                <div class="gasoline__left-card">
                    <h3 class="gasoline__left-card-title">
                        Комплекс производства бензина
                        на основе каталитического крекинга вакуумного газойля
                    </h3>
                    <div class="gasoline__left-row">
                        <div class="gasoline__column">
                            <h4 class="gasoline__column-title">
                                Комплексная установка
                                каталитического крекинга
                            </h4>
                            <ul class="gasoline__list">
                                <li class="gasoline__list-item">
                                    <div class="gasoline__year-card">
                                        <div class="gasoline__year-card-top-row">
                                            <div class="gasoline__year-card-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            <div class="gasoline__year-card-title">
                                                2005
                                            </div>
                                        </div>
                                        <div class="gasoline__year-card-text">
                                            Ввод в эксплуатацию. Первая промышленная партия автобензина экологического
                                            класса К2 была произведена в начале 2006 г.
                                        </div>
                                    </div>
                                </li>
                                <li class="gasoline__list-item">
                                    <div class="gasoline__year-card">
                                        <div class="gasoline__year-card-top-row">
                                            <div class="gasoline__year-card-icon gasoline__year-card-icon--brown">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            <div class="gasoline__year-card-title">
                                                2007
                                            </div>
                                        </div>
                                        <div class="gasoline__year-card-text">
                                            Переход на автобензин экологического класса К4
                                        </div>
                                    </div>
                                </li>
                                <li class="gasoline__list-item">
                                    <div class="gasoline__year-card">
                                        <div class="gasoline__year-card-top-row">
                                            <div class="gasoline__year-card-icon gasoline__year-card-icon--brown">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            <div class="gasoline__year-card-title">
                                                2016
                                            </div>
                                        </div>
                                        <div class="gasoline__year-card-text">
                                            Реконструкция блока гидроочистки бензина каталитического крекинга с
                                            внедрением технологии селективного гидрирования и переход на производство
                                            автобензина экологического класса К5
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="gasoline__column">
                            <h4 class="gasoline__column-title">
                                Комплексные установки
                                МТБЭ и ТАМЭ
                            </h4>
                            <ul class="gasoline__list">
                                <li class="gasoline__list-item">
                                    <div class="gasoline__year-card">
                                        <div class="gasoline__year-card-top-row">
                                            <div class="gasoline__year-card-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            <div class="gasoline__year-card-title">
                                                2009
                                            </div>
                                        </div>
                                        <div class="gasoline__year-card-text">
                                            Ввод<br>
                                            в эксплуатацию
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="gasoline__legend">
                        <div class="gasoline__legend-item">
                            <div class="gasoline__legend-item-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                            </div>
                            Год окончания нового<br> строительства
                        </div>
                        <div class="gasoline__legend-item">
                            <div class="gasoline__legend-item-icon gasoline__legend-item-icon--brown">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                            </div>
                            Год окончания реконструкции<br>
                            и модернизации
                        </div>
                    </div>
                </div>
                <div class="gasoline__right-card">
                    <div class="gasoline__right-card-bg">
                        <img src="/images/gasoline.webp" alt="" class="gasoline__right-card-bg-image">
                    </div>
                    <div class="gasoline__right-card-title">
                        Комплекс переработки газового
                        кондесата
                    </div>
                    <div class="gasoline__right-card-bottom">
                        <div class="gasoline__right-card-year">
                            2006
                        </div>
                        <div class="gasoline__right-card-content">
                            <div class="gasoline__right-card-unit">
                                год
                            </div>
                            <div class="gasoline__right-card-text">
                                Ввод в эксплуатацию<br>
                                комплекса
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>