<div class="swiper-slide">
    <section class="section">
        <div class="goals">
            <div class="goals__bg">
                <img src="/images/goals.webp" alt="" class="goals__bg-image">
            </div>
            <div class="goals__content">
                <div class="goals__large-text">
                    В состав НИЦ входит пилотная установка по технологии TAIFCOMBI, на которой можно
                    проводить испытания как гидрокрекинга,
                    так и гидроочистки
                </div>
                <div class="goals__small-text">
                    Планируется дальнейшее расширение парка пилотных установок для проведения испытаний на базе других
                    текущих процессов, применяемых на комплексе АО «ТАИФ-НК», и перспективных технологий.
                </div>
                <div class="goals__bottom">
                    <h2 class="goals__title">
                        Цели:
                    </h2>
                    <ol class="goals__goals-list">
                        <li class="goals__goals-list-item">
                            <div class="goals__goals-card">
                                <h3 class="goals__goals-card-title">
                                    Исследования процессов тяжелого термогидрокрекинга
                                </h3>
                            </div>
                        </li>
                        <li class="goals__goals-list-item">
                            <div class="goals__goals-card">
                                <h3 class="goals__goals-card-title">
                                    Расширение сырьевой базы технологии TAIFCOMBI
                                </h3>
                                <div class="goals__goals-card-text">
                                    В том числе за счет переработки смешанных пластиковых отходов
                                </div>
                            </div>
                        </li>
                        <li class="goals__goals-list-item">
                            <div class="goals__goals-card">
                                <h3 class="goals__goals-card-title">
                                    Разработка рецептур
                                    и технологии получения новых материалов
                                </h3>
                                <div class="goals__goals-card-text">
                                    Из остаточных продуктов глубокого гидрокрекинга тяжелого нефтяного сырья
                                </div>
                            </div>
                        </li>
                        <li class="goals__goals-list-item">
                            <div class="goals__goals-card">
                                <h3 class="goals__goals-card-title">
                                    Подбор оптимальной угольной добавки для технологии TAIFCOMBI
                                </h3>

                            </div>
                        </li>
                        <li class="goals__goals-list-item">
                            <div class="goals__goals-card">
                                <h3 class="goals__goals-card-title">
                                    Подбор катализаторов газофазного гидрокрекинга и гидроочистки
                                </h3>

                            </div>
                        </li>
                        <li class="goals__goals-list-item">
                            <div class="goals__goals-card">
                                <h3 class="goals__goals-card-title">
                                    Составление моделей технологии TAIFCOMBI
                                </h3>
                                <div class="goals__goals-card-text">
                                    Для масштабирования результатов пилотных испытаний
                                </div>
                            </div>
                        </li>
                        <li class="goals__goals-list-item">
                            <div class="goals__goals-card">
                                <h3 class="goals__goals-card-title">
                                    Цифровые двойники технологии TAIFCOMBI
                                </h3>
                                <div class="goals__goals-card-text">
                                    Для последующей успешной разработки технологической части базового проекта и
                                    реализации
                                    технологии третьим лицам
                                </div>
                            </div>
                        </li>
                        <li class="goals__goals-list-item">
                            <div class="goals__goals-card">
                                <h3 class="goals__goals-card-title">
                                    Подготовка специалистов по управлению процессами нефтепереработки
                                </h3>
                                <div class="goals__goals-card-text">
                                    В том числе TAIFCOMBI, на специализированных симуляторах
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
</div>