<div class="swiper-slide">
    <section class="section">
        <div class="intro">
            <div class="intro__bg">
                <img src="/images/intro.webp" alt="" class="intro__bg-image">
            </div>
            <div class="intro__content">
                <img src="/images/logo.svg" alt="" class="intro__logo">
                <div class="intro__small-text">
                    Один из крупнейших нефтеперерабатывающих комплексов в России
                </div>
                <div class="intro__title-wrapper">
                    <h1 class="intro__title">
                        ТАИФ-НК
                    </h1>
                    <div class="intro__year">
                        2025
                    </div>
                </div>
                <div class="intro__numbers">
                    <ul class="intro__numbers-list">
                        <li class="intro__numbers-list-item">
                            <div class="intro__numbers-card">
                                <div class="intro__numbers-card-amount">
                                    7,3
                                </div>
                                <div class="intro__numbers-card-content">
                                    <div class="intro__numbers-card-title">
                                        млн. тонн в год
                                    </div>
                                    <div class="intro__numbers-card-text">
                                        проектная мощность по переработке нефти
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="intro__numbers-list-item">
                            <div class="intro__numbers-card">
                                <div class="intro__numbers-card-amount">
                                    1,0
                                </div>
                                <div class="intro__numbers-card-content">
                                    <div class="intro__numbers-card-title">
                                        млн. тонн в год
                                    </div>
                                    <div class="intro__numbers-card-text">
                                        проектная мощность
                                        по переработке газового
                                        конденсата
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="intro__numbers-list-item">
                            <div class="intro__numbers-card">
                                <div class="intro__numbers-card-prefix">
                                    ТОП
                                </div>
                                <div class="intro__numbers-card-amount">
                                    5
                                </div>
                                <div class="intro__numbers-card-content">
                                    <div class="intro__numbers-card-title">
                                        среди компаний РФ
                                    </div>
                                    <div class="intro__numbers-card-text">
                                        по выходу светлых нефтепродуктов и степени извлечения серы из нефти
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="intro__numbers-list-item">
                            <div class="intro__numbers-card">

                                <div class="intro__numbers-card-amount">
                                    12,8
                                </div>
                                <div class="intro__numbers-card-content">
                                    <div class="intro__numbers-card-title">
                                        индекс Нельсона
                                    </div>
                                    <div class="intro__numbers-card-text">
                                        положение ТАИФ-НК в мире
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</div>