<div class="swiper-slide">
    <section class="section" data-section-name="investments">
        <div class="investments">
            <div class="investments__bg">
                <div class="investments__bg-image-wrapper">
                    <img src="/images/investments.webp" alt="" class="investments__bg-image">
                </div>
            </div>
            <div class="investments__content">
                <h2 class="investments__heading">
                    ИНВЕСТИЦИИ<br>
                    В СТРОИТЕЛЬСТВО
                </h2>
                <div class="investments__bottom">
                    <div class="investments__count">
                        234
                    </div>
                    <div class="investments__wrapper">
                        <div class="investments__units">
                            млрд. руб
                        </div>
                        <div class="investments__text">
                            инвестиций за период<br>
                            с 1998-2024 гг.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>