<div class="swiper-slide">
    <section class="section" data-section-name="invest-chart">
        <div class="invest-chart">
            <div class="invest-chart__top-row">
                <div class="invest-chart__title-wrapper">
                    <h2 class="invest-chart__heading">
                        График инвестиции в строительство новых
                        и обновление действующих производств с учетом капитального ремонта
                    </h2>
                    <div class="invest-chart__subtitle">
                        Данные с НДС
                    </div>
                </div>
                <div class="invest-chart__amount-wrapper">
                    <div class="invest-chart__amount">
                        5,1
                    </div>
                    <div class="invest-chart__amount-content">
                        <div class="invest-chart__amount-title">
                            млрд. долл.
                        </div>
                        <div class="invest-chart__amount-text">
                            инвестиций за период<br>
                            с 1998-2024 гг.
                        </div>
                    </div>
                </div>

            </div>
            <div class="invest-chart__wrapper">
                {{> invest-chart-illustration }}
            </div>
        </div>
    </section>
</div>