<div class="swiper-slide">
    <section class="section" data-section-name="light">
        <div class="light">
            <h2 class="light__heading">
                Выход светлых нефтепродуктов и&nbsp;степень
                извлечения серы из&nbsp;нефти АО&nbsp;&laquo;ТАИФ-НК&raquo;
            </h2>
            <div class="light__row">
                <div class="light__card">
                    <h3 class="light__card-title">
                        Выход светлых нефтепродуктов в среднем компаниями
                        США, РФ, в том числе АО «ТАИФ-НК»
                    </h3>
                    <div class="light__card-subtitle">
                        По данным за 2022 год
                    </div>
                    <div class="light__chart light__chart--left" style="--rows-count: 5">
                        <div class="light__chart-top-wrapper">
                            <div class="light__chart-bars">
                                <div class="light__chart-bar">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="light__chart-bar">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="light__chart-bar">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="light__chart-rows">
                                <div class="light__chart-row" style="--percentage: 67">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">
                                            <div class="light__chart-row-title light__chart-row-title--large">
                                                ТАИФ-НК
                                            </div>
                                            <div
                                                class="light__chart-row-percentage light__chart-row-percentage--largest">
                                                87,4%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>

                                    </div>
                                    <div class="light__chart-row-bottom">

                                    </div>
                                </div>
                                <div class="light__chart-row" style="--percentage: 63">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">
                                            <div class="light__chart-row-title">
                                                ТАНЕКО
                                            </div>
                                            <div class="light__chart-row-percentage light__chart-row-percentage--large">
                                                82,0%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>

                                    </div>

                                </div>
                                <div class="light__chart-row" style="--percentage: 60">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">
                                            <div class="light__chart-row-title">
                                                Волгограднефтепереработка
                                            </div>
                                            <div
                                                class="light__chart-row-percentage light__chart-row-percentage--medium">
                                                80,3%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>

                                    </div>

                                </div>
                                <div class="light__chart-row" style="--percentage: 58">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">
                                            <div class="light__chart-row-title">
                                                Газпром нефтехим Салават
                                            </div>
                                            <div class="light__chart-row-percentage">
                                                79,1%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>

                                    </div>

                                </div>
                                <div class="light__chart-row" style="--percentage: 56">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">
                                            <div class="light__chart-row-title">
                                                Омский НПЗ
                                            </div>
                                            <div class="light__chart-row-percentage">
                                                77,2%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="light__chart-labels">
                            <div class="light__chart-label">
                                <div class="light__chart-label-amount">
                                    63,8
                                </div>
                                <div class="light__chart-label-text">
                                    В среднем по РФ
                                </div>
                            </div>
                            <div class="light__chart-label">
                                <div class="light__chart-label-amount">
                                    89,9
                                </div>
                                <div class="light__chart-label-text">
                                    В среднем по США
                                </div>
                            </div>
                            <div class="light__chart-label light__chart-label--brown">
                                <div class="light__chart-label-amount">
                                    98,2
                                </div>
                                <div class="light__chart-label-text">
                                    Проектное значение
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="light__card">
                    <h3 class="light__card-title">
                        Степень извлечения серы из нефти
                        компаниями РФ, в том числе АО «ТАИФ-НК»
                    </h3>
                    <div class="light__card-subtitle">
                        По данным за 2022 год
                    </div>
                    <div class="light__chart light__chart--right" style="--rows-count: 5">
                        <div class="light__chart-top-wrapper">
                            <div class="light__chart-rows">
                                <div class="light__chart-row" style="--percentage: 79">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">
                                            <div class="light__chart-row-title light__chart-row-title--large">
                                                ТАИФ-НК
                                            </div>
                                            <div
                                                class="light__chart-row-percentage light__chart-row-percentage--largest">
                                                79,4%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>

                                    </div>
                                    <div class="light__chart-row-bottom">

                                    </div>
                                </div>
                                <div class="light__chart-row" style="--percentage: 74">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">
                                            <div class="light__chart-row-title">
                                                ТАНЕКО
                                            </div>
                                            <div class="light__chart-row-percentage light__chart-row-percentage--large">
                                                70,1%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>

                                    </div>
                                    <div class="light__chart-row-bottom">

                                    </div>
                                </div>
                                <div class="light__chart-row" style="--percentage: 70.4">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">
                                            <div class="light__chart-row-title">
                                                Волгограднефтепереработка
                                            </div>
                                            <div
                                                class="light__chart-row-percentage light__chart-row-percentage--medium">
                                                63,6%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>

                                    </div>
                                    <div class="light__chart-row-bottom">

                                    </div>
                                </div>
                                <div class="light__chart-row" style="--percentage: 68">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">
                                            <div class="light__chart-row-title">
                                                Пермнефтеоргсинтез
                                            </div>
                                            <div class="light__chart-row-percentage">
                                                58,7%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>

                                    </div>
                                    <div class="light__chart-row-bottom">

                                    </div>
                                </div>
                                <div class="light__chart-row" style="--percentage: 64.9">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">
                                            <div class="light__chart-row-title">
                                                Омский НПЗ
                                            </div>
                                            <div class="light__chart-row-percentage">
                                                48,3%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>
                                    </div>
                                    <div class="light__chart-row-bottom">

                                    </div>
                                </div>
                            </div>
                            <div class="light__chart-rows">
                                <div class="light__chart-row" style="--percentage: 100">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">

                                            <div
                                                class="light__chart-row-percentage light__chart-row-percentage--smallest">
                                                1,8%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>

                                    </div>

                                </div>
                                <div class="light__chart-row" style="--percentage: 100">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">

                                            <div
                                                class="light__chart-row-percentage light__chart-row-percentage--smallest">
                                                1,8%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>

                                    </div>

                                </div>
                                <div class="light__chart-row" style="--percentage: 31">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">

                                            <div
                                                class="light__chart-row-percentage light__chart-row-percentage--smallest">
                                                0,4%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>

                                    </div>

                                </div>
                                <div class="light__chart-row" style="--percentage: 62">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">

                                            <div
                                                class="light__chart-row-percentage light__chart-row-percentage--smallest">
                                                1,3%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>

                                    </div>

                                </div>
                                <div class="light__chart-row" style="--percentage:58">
                                    <div class="light__chart-row-top">
                                        <div class="light__chart-row-top-wrapper">

                                            <div
                                                class="light__chart-row-percentage light__chart-row-percentage--smallest">
                                                0,9%
                                            </div>
                                        </div>
                                        <div class="light__chart-row-top-progress">

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="light__chart-labels">
                            <div class="light__chart-label light__chart-label--green">
                                <div class="light__chart-label-amount">
                                    98,0
                                </div>
                                <div class="light__chart-label-text">
                                    Проектное значение
                                </div>
                            </div>
                            <div class="light__chart-oil-label">
                                Содержание
                                серы в нефти
                                <span class="light__chart-oil-label-percent">
                                    %
                                </span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>