<div class="swiper-slide">
    <section class="section" data-section-name="petrols">
        <div class="petrols">
            <div class="petrols__left">
                <h2 class="petrols__heading">
                    Общая схема завода бензинов на 2024 год
                </h2>
                <div class="petrols__wrapper">
                    {{> petrols-illustration }}
                </div>
            </div>
            <div class="petrols__right">
                <img src="/images/petrols-legend.svg" alt="" class="petrols__legend">
            </div>
        </div>
    </section>
</div>