<div class="swiper-slide">
    <section class="section" data-section-name="position">
        <div class="position">
            <div class="position__content">
                <img src="/images/position-planet.svg" alt="" class="position__planet">
                <div class="position__top-row">
                    <div class="position__title-wrapper">
                        <h2 class="position__heading">
                            Положение «ТАИФ-НК»<br>
                            в мире по индексу<br> Нельсона
                        </h2>
                        <div class="position__subtitle">
                            Статистика по странам и регионам
                        </div>
                    </div>
                    <div class="position__text">
                        По данным Oil&Gas Journal
                        за 2022 год, усредненные значения по регионам мира
                    </div>
                </div>
                <div class="position__columns">
                    <div class="position__column">
                        <div class="position__circle-bar">

                            <div class="position__circle-bar-title">
                                Северная Америка
                            </div>
                            <div class="position__circle-bar-inner">

                            </div>
                        </div>
                        <div class="position__circle position__circle--extralarge">
                            <div class="position__circle-inner">
                                11,8
                            </div>
                        </div>
                    </div>
                    <div class="position__column">
                        <div class="position__circle-bar position__circle-bar--second">
                            <div class="position__circle-bar-title">
                                Центральная<br>
                                и Южная Америка
                            </div>
                            <div class="position__circle-bar-inner">

                            </div>
                        </div>
                        <div class="position__circle position__circle--smallest">
                            <div class="position__circle-inner">
                                5,2
                            </div>
                        </div>
                    </div>
                    <div class="position__column">
                        <div class="position__circle-bar position__circle-bar--third">
                            <div class="position__circle-bar-title">
                                Евразия
                            </div>
                            <div class="position__circle-bar-inner">

                            </div>
                        </div>
                        <div class="position__circle position__circle--large">
                            <div class="position__circle-inner">
                                6,8
                            </div>
                        </div>
                    </div>
                    <div class="position__column">
                        <div class="position__circle-bar position__circle-bar--fourth">
                            <div class="position__circle-bar-title">
                                Россия
                            </div>
                            <div class="position__circle-bar-inner">

                            </div>
                        </div>
                        <div class="position__circle position__circle--small">
                            <div class="position__circle-inner">
                                6,0
                            </div>
                        </div>
                    </div>
                    <div class="position__column">
                        <div class="position__circle-bar position__circle-bar--second--fifth">
                            <div class="position__circle-bar-title position__circle-bar-title--aligned-top">
                                Азиатско-Тихоокеанский<br>
                                регион
                            </div>
                            <div class="position__circle-bar-inner">

                            </div>
                        </div>
                        <div class="position__circle">
                            <div class="position__circle-inner">
                                6,3
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position__card">
                <div class="position__card-bg">
                    <img src="/images/position.webp" alt="" class="position__card-bg-image">
                </div>
                <div class="position__card-wrapper">
                    <div class="position__card-wrapper-grid">
                        <div class="position__card-heading">
                            Индекс Нельсона
                            «ТАИФ-НК»
                        </div>
                        <div class="position__card-text">
                            Расчет по данным 2023 год, без учета производства масел
                        </div>
                        <div class="position__card-amount">
                            12,8
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>