<div class="swiper-slide">
    <section class="section" data-section-name="powers">
        <div class="powers">
            <div class="powers__content">


                <div class="powers__top-row">
                    <h2 class="powers__heading">
                        Состав производственных<br>
                        мощностей НПЗ
                    </h2>
                    <div class="powers__year">
                        2024
                    </div>
                </div>
                <div class="powers__grid">


                    <div class="powers__columns">
                        <div class="powers__column">
                            <div class="powers__column-title">
                                Комплексная установка<br>
                                ЭЛОУ-АВТ-7
                            </div>
                            <ul class="powers__list">
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            1979
                                        </div>
                                        <div class="powers__card-title">
                                            Ввод
                                            в эксплуатацию
                                        </div>
                                    </div>
                                </li>
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon powers__card-icon--brown">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2003
                                        </div>
                                        <div class="powers__card-title">
                                            Запуск в эксплуатацию вакуумного блока с выделением вакуумного газойля и
                                            гудрона
                                        </div>
                                    </div>
                                </li>
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon powers__card-icon--brown">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2017
                                        </div>
                                        <div class="powers__card-title">
                                            Подключение объектов
                                            к КГПТО
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="powers__column">
                            <div class="powers__column-title">
                                Комплексная
                                установка висбрекинга гудрона
                            </div>
                            <ul class="powers__list">
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2003
                                        </div>
                                        <div class="powers__card-title">
                                            Ввод
                                            в эксплуатацию
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="powers__column">
                            <div class="powers__column-title">
                                Комплексная установка
                                производства
                                водорода
                            </div>
                            <ul class="powers__list">
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2002
                                        </div>
                                        <div class="powers__card-title">
                                            Ввод
                                            в эксплуатацию
                                        </div>
                                    </div>
                                </li>
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon powers__card-icon--brown">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2013
                                        </div>
                                        <div class="powers__card-title">
                                            Завершение модернизации узла сероочистки природного газа для увеличения
                                            производительности установки производства водорода
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="powers__column">
                            <div class="powers__column-title">
                                Комплексная установка
                                гидроочистки средних дистиллятов
                            </div>
                            <ul class="powers__list">
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2002
                                        </div>
                                        <div class="powers__card-title">
                                            Ввод
                                            в эксплуатацию
                                        </div>
                                    </div>
                                </li>
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon powers__card-icon--brown">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2008
                                        </div>
                                        <div class="powers__card-title">
                                            Завершение модернизации с заменой внутренних устройств
                                            и каталитической системы
                                            с переходом на выпуск дизельного топлива с серой
                                            до 500 ppm
                                        </div>
                                    </div>
                                </li>
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon powers__card-icon--brown">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2011
                                        </div>
                                        <div class="powers__card-title">
                                            Завершение модернизации с установкой дополни- тельного реактора гидроочистки
                                            и заменой каталитической системы для увеличения мощности по атмосферному
                                            газойлю
                                            и выпуска дизеля ЕВРО-5
                                        </div>
                                    </div>
                                </li>
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon powers__card-icon--brown">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2014
                                        </div>
                                        <div class="powers__card-title">
                                            Увеличение мощности по атмосферному газойлю за счет установки
                                            дополнительного
                                            оборудования
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="powers__column">
                            <div class="powers__column-title">
                                Комплексная установка
                                производства
                                серы
                            </div>
                            <ul class="powers__list">
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2003
                                        </div>
                                        <div class="powers__card-title">
                                            Ввод
                                            в эксплуатацию
                                        </div>
                                    </div>
                                </li>
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon powers__card-icon--brown">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2014
                                        </div>
                                        <div class="powers__card-title">
                                            Увеличение производительности установки за счет установки дополнительного
                                            оборудования и увеличения эффективности работы горелок
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="powers__column">
                            <div class="powers__column-title">
                                Комплексное битумное
                                производство
                            </div>
                            <ul class="powers__list">
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2007
                                        </div>
                                        <div class="powers__card-title">
                                            Запуск установки производства окисленного битума
                                        </div>
                                    </div>
                                </li>
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2015
                                        </div>
                                        <div class="powers__card-title">
                                            Ввод установки производства полимерно- битумного вяжущего за счет
                                            использования
                                            нового оборудования - диспергатора типа коллоидная мельница
                                        </div>
                                    </div>
                                </li>
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2016
                                        </div>
                                        <div class="powers__card-title">
                                            Ввод установки расфасовки битума за счет установки нового оборудования
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="powers__column">
                            <div class="powers__column-title">
                                Очистные
                                сооружения
                            </div>
                            <ul class="powers__list">
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            1978
                                        </div>
                                        <div class="powers__card-title">
                                            Ввод
                                            в эксплуатацию
                                        </div>
                                    </div>
                                </li>
                                <li class="powers__list-item">
                                    <div class="powers__card">
                                        <div class="powers__card-year">
                                            <div class="powers__card-icon powers__card-icon--brown">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#calendar"></use>
                                                </svg>
                                            </div>
                                            2017
                                        </div>
                                        <div class="powers__card-title">
                                            Обеспечение замкнутого водооборотного цикла, покрывающего 99,9% нужд АО
                                            «ТАИФ-НК» без сброса в водоемы путем реализации четырёхступенчатой системы
                                            очистки, в ходе которой сточные
                                            воды последовательно проходят механическую, физико-химическую, биологическую
                                            очистку и обессоливание, очищаясь от механических примесей, нефтепродуктов
                                            и солей.
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="powers__image-container">
                        <img src="/images/powers.webp" alt="" class="powers__image">
                    </div>
                    <div class="powers__legend">
                        <div class="powers__legend-item">
                            <div class="powers__legend-item-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                            </div>
                            Год окончания нового строительства
                        </div>
                        <div class="powers__legend-item">
                            <div class="powers__legend-item-icon powers__legend-item-icon--brown">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                            </div>
                            Год окончания реконструкции
                            и модернизации
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>