<div class="swiper-slide">
    <section class="section" data-section-name="processing">
        <div class="processing">
            <div class="processing__top-row">
                <h2 class="processing__heading">
                    Переработка отработанной добавки
                    в высокорентабельный литейный
                    и металлургический кокс
                </h2>
                <div class="processing__text">
                    Литейный кокс используется в качестве восстановителя и источника тепла при плавке базальтового сырья
                    для производства экологически чистой теплоизоляции в специальных вагранках, а также в виде
                    металлургического кокса для выплавки чугуна.
                </div>
            </div>
            <ul class="processing__list">
                <li class="processing__list-item">
                    <div class="processing__card">
                        <div class="processing__card-bg">
                            <img src="/images/processing/1.webp" alt="" class="processing__card-bg-image">
                        </div>
                        <h3 class="processing__card-title">
                            Кокс<br>
                            пековый
                        </h3>
                    </div>
                </li>
                <li class="processing__list-item">
                    <div class="processing__card">
                        <div class="processing__card-bg">
                            <img src="/images/processing/2.webp" alt="" class="processing__card-bg-image">
                        </div>
                        <h3 class="processing__card-title">
                            Литейный<br>
                            и металлургический кокс
                        </h3>
                    </div>
                </li>
                <li class="processing__list-item">
                    <div class="processing__card">
                        <div class="processing__card-bg">
                            <img src="/images/processing/3.webp" alt="" class="processing__card-bg-image">
                        </div>
                        <h3 class="processing__card-title">
                            Базальтовая<br>
                            теплоизоляция
                        </h3>
                    </div>
                </li>
                <li class="processing__list-item">
                    <div class="processing__card">
                        <div class="processing__card-bg">
                            <img src="/images/processing/4.webp" alt="" class="processing__card-bg-image">
                        </div>
                        <h3 class="processing__card-title">
                            Выплавка<br>
                            чугуна
                        </h3>
                    </div>
                </li>
            </ul>
            <div class="processing__table">
                <div class="processing__table-header">
                    <div class="processing__table-header-cell">
                        Образец
                    </div>
                    <div class="processing__table-header-cell">
                        Прочность на сжатие, кгс/см 2
                    </div>
                    <div class="processing__table-header-cell">
                        CRI, %
                    </div>
                    <div class="processing__table-header-cell">
                        CSR, %
                    </div>
                    <div class="processing__table-header-cell">
                        Общая пыль, %
                    </div>
                    <div class="processing__table-header-cell">
                        Ударная прочность, количество кусков
                    </div>
                    <div class="processing__table-header-cell">
                        Горячая прочность, кгс/см2
                    </div>
                </div>
                <div class="processing__table-body">
                    <div class="processing__table-body-cell">
                        Литейный кокс из сырья<br>
                        АО «ТАИФ-НК»:
                    </div>
                    <div class="processing__table-body-cell">
                        <span>
                            160
                        </span>
                    </div>
                    <div class="processing__table-body-cell">
                        <span>
                            13,9
                        </span>
                    </div>
                    <div class="processing__table-body-cell">
                        <span>
                            96,6
                        </span>
                    </div>
                    <div class="processing__table-body-cell">
                        <span>
                            4,3
                        </span>
                    </div>
                    <div class="processing__table-body-cell">
                        <span>
                            1
                        </span>
                    </div>
                    <div class="processing__table-body-cell">
                        <span>
                            26
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>