<div class="swiper-slide">
    <section class="section" data-section-name="products">
        <div class="products">
            <h2 class="products__heading">
                Товарная продукция
            </h2>
            <div class="products__row">
                <div class="products__card products__card--first">
                    {{> product-one }}
                </div>
                <div class="products__card">
                    {{> product-two }}
                </div>
            </div>
        </div>
    </section>
</div>