<div class="swiper-slide">
    <section class="section">
        <div class="production">
            <div class="production__content">
                <h2 class="production__title">
                    Состав производственных мощностей<br>
                    завода КГПТО на 2024 год
                </h2>
                <ul class="production__list">
                    <li class="production__list-item">
                        <div class="production__card production__card--green">
                            <div class="production__card-top-row">
                                <h3 class="production__card-title">
                                    Производство комбинированного термогидрокрекинга
                                </h3>
                                <div class="production__card-image-container">
                                    <img src="/images/production/1.webp" alt="" class="production__card-image">
                                </div>
                            </div>
                            <ul class="production__card-list">
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Сырье:
                                        </div>
                                        <div class="production__card-item-value">
                                            Гудрон; Вакуумный газойль; Тяжелый газойль каталитического крекинга;
                                            Сжиженный углеводородный газ; Специализированная активированная угольная
                                            добавка
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Промежуточная продукция:
                                        </div>
                                        <div class="production__card-item-value">
                                            Гидрогенизат
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Продукция:
                                        </div>
                                        <div class="production__card-item-value">
                                            КОГГ и пековый кокс
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Завершение строительства
                                        </div>
                                        <div class="production__card-item-value">
                                            2016 год
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="production__list-item">
                        <div class="production__card">
                            <div class="production__card-top-row">
                                <h3 class="production__card-title">
                                    Комплексная установка
                                    фракционирования
                                </h3>
                                <div class="production__card-image-container">
                                    <img src="/images/production/2.webp" alt="" class="production__card-image">
                                </div>
                            </div>
                            <ul class="production__card-list">
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Сырье:
                                        </div>
                                        <div class="production__card-item-value">
                                            Гидрогенизат и СУГи с НПЗ
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Продукция:
                                        </div>
                                        <div class="production__card-item-value">
                                            Топливный газ; Пропановая фракция;
                                            Бутановая фракция; Дизельное топливо; ГОВГО
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Ввод в эксплуатацию вместе
                                            с комплексной установкой термогидрокрекинга
                                        </div>
                                        <div class="production__card-item-value">
                                            2021 год
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Завершение строительства
                                        </div>
                                        <div class="production__card-item-value">
                                            2016 год
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="production__list-item">
                        <div class="production__card">
                            <div class="production__card-top-row">
                                <h3 class="production__card-title">
                                    Производство<br>
                                    водорода
                                </h3>
                                <div class="production__card-image-container">
                                    <img src="/images/production/3.webp" alt="" class="production__card-image">
                                </div>
                            </div>
                            <ul class="production__card-list">
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Сырье:
                                        </div>
                                        <div class="production__card-item-value">
                                            Природный газ
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Продукция:
                                        </div>
                                        <div class="production__card-item-value">
                                            Водород
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Завершение строительства
                                        </div>
                                        <div class="production__card-item-value">
                                            2016 год
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Ввод в эксплуатацию вместе с комплексной установкой термогидрокрекинга
                                        </div>
                                        <div class="production__card-item-value">
                                            2021 год
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="production__list-item">
                        <div class="production__card">
                            <div class="production__card-top-row">
                                <h3 class="production__card-title">
                                    Производство азота
                                    и&nbsp;воздуха
                                </h3>
                                <div class="production__card-image-container">
                                    <img src="/images/production/4.webp" alt="" class="production__card-image">
                                </div>
                            </div>
                            <ul class="production__card-list">
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Сырье:
                                        </div>
                                        <div class="production__card-item-value">
                                            Воздух
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Продукция:
                                        </div>
                                        <div class="production__card-item-value">
                                            Азот газообразный; Азот жидкий;
                                            Воздух КИП и технический;
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Завершение строительства
                                        </div>
                                        <div class="production__card-item-value">
                                            2016 год
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Ввод в эксплуатацию вместе с комплексной установкой термогидрокрекинга:
                                        </div>
                                        <div class="production__card-item-value">
                                            2021 год
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="production__list-item">
                        <div class="production__card">
                            <div class="production__card-top-row">
                                <h3 class="production__card-title">
                                    Производство<br>
                                    серы
                                </h3>
                                <div class="production__card-image-container">
                                    <img src="/images/production/5.webp" alt="" class="production__card-image">
                                </div>
                            </div>
                            <ul class="production__card-list">
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Сырье:
                                        </div>
                                        <div class="production__card-item-value">
                                            Кислый газ
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Продукция:
                                        </div>
                                        <div class="production__card-item-value">
                                            Сера гранулированная
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Завершение строительства
                                        </div>
                                        <div class="production__card-item-value">
                                            2016 год
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Ввод в эксплуатацию вместе с комплексной установкой термогидрокрекинга:
                                        </div>
                                        <div class="production__card-item-value">
                                            2021 год
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="production__list-item">
                        <div class="production__card">
                            <div class="production__card-top-row">
                                <h3 class="production__card-title">
                                    Центральная операторная завода по глубокой переработке тяжелых остатков перегонки
                                    нефти
                                </h3>
                                <div class="production__card-image-container">
                                    <img src="/images/production/6.webp" alt="" class="production__card-image">
                                </div>
                            </div>
                            <ul class="production__card-list">
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Площадь операторной:
                                        </div>
                                        <div class="production__card-item-value">
                                            1152 м2
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Мощность по входящим сигналам АСУТП:
                                        </div>
                                        <div class="production__card-item-value">
                                            20 тыс. сигналов
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Завершение строительства:
                                        </div>
                                        <div class="production__card-item-value">
                                            2016 год
                                        </div>
                                    </div>
                                </li>
                                <li class="production__card-list-item">
                                    <div class="production__card-item">
                                        <div class="production__card-item-key">
                                            Ввод в эксплуатацию вместе с комплексной установкой термогидрокрекинга:
                                        </div>
                                        <div class="production__card-item-value">
                                            2021 год
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>