<div class="swiper-slide">
    <section class="section" data-section-name="profile">
        <div class="profile">
            <div class="profile__top-row">
                <h2 class="profile__heading">
                    Патентный портфель
                    ТАИФ на технологию
                    TAIFCOMBI
                </h2>
                <div class="profile__legend">
                    <div class="profile__legend-title">
                        Количество поданных заявок в РФ и за рубежом
                    </div>
                    <div class="profile__legend-items">
                        <div class="profile__legend-item">
                            <div class="profile__legend-item-box">

                            </div>
                            3
                        </div>
                        <div class="profile__legend-item">
                            <div class="profile__legend-item-box" style="background: #58C19F;">

                            </div>
                            4
                        </div>
                        <div class="profile__legend-item">
                            <div class="profile__legend-item-box" style="background: #16A788;">

                            </div>
                            5
                        </div>
                        <div class="profile__legend-item">
                            <div class="profile__legend-item-box" style="background: #008568;">

                            </div>
                            21
                        </div>
                    </div>
                </div>
            </div>
            <img src="/images/profile.svg" alt="" class="profile__image">
            <div class="profile__bottom">
                <h2 class="profile__bottom-heading">
                    Количество поданных заявок
                    в РФ и за рубежом
                </h2>
                <div class="profile__bottom-row">
                    <div class="profile__table">
                        <div class="profile__table-header">
                            <div class="profile__table-row">
                                <div class="profile__table-header-cell">
                                    Страны и регионы
                                </div>
                                <div class="profile__table-header-cell">
                                    Подано заявок на патенты
                                </div>
                                <div class="profile__table-header-cell">
                                    Из них получено патентов
                                </div>
                            </div>
                        </div>
                        <div class="profile__table-body">
                            <div class="profile__table-row">
                                <div class="profile__table-body-cell">
                                    Российская Федерация
                                </div>
                                <div class="profile__table-body-cell">
                                    21 ( на основе 12 изобретений)
                                </div>
                                <div class="profile__table-body-cell">
                                    21
                                </div>
                            </div>
                            <div class="profile__table-row">
                                <div class="profile__table-body-cell">
                                    Евразия, США, Европа
                                </div>
                                <div class="profile__table-body-cell">
                                    49
                                </div>
                                <div class="profile__table-body-cell">
                                    -
                                </div>
                            </div>
                            <div class="profile__table-row">
                                <div class="profile__table-body-cell">
                                    Итого
                                </div>
                                <div class="profile__table-body-cell">
                                    70
                                </div>
                                <div class="profile__table-body-cell">
                                    21
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="profile__list">
                        <li class="profile__list-item">
                            <div class="profile__card">
                                <div class="profile__card-top-row">
                                    <div class="profile__card-amount">
                                        12
                                    </div>
                                    <div class="profile__card-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M13.9167 9.20106C13.2448 9.20106 12.5776 9.34301 11.9529 9.61902C11.3282 9.89508 10.756 10.3012 10.2712 10.8182C9.78624 11.3355 9.39826 11.9534 9.13257 12.6375C8.86685 13.3218 8.72925 14.0575 8.72925 14.8016L6.72925 14.8016C6.72925 13.8122 6.91215 12.8311 7.26831 11.9139C7.6245 10.9967 8.14822 10.1594 8.81226 9.45106C8.89237 9.3656 8.97459 9.2823 9.05835 9.20106L0.510498 9.20106L0.510498 7.20109L9.05835 7.20109C8.97473 7.11997 8.89225 7.03739 8.81226 6.95207C8.14819 6.24375 7.62452 5.40646 7.26831 4.48921C6.91213 3.572 6.72925 2.59095 6.72925 1.60156L8.72925 1.60156C8.72925 2.34559 8.86685 3.08134 9.13257 3.76559C9.39826 4.44965 9.78628 5.06762 10.2712 5.5849C10.756 6.10192 11.3282 6.50807 11.9529 6.7841C12.5776 7.06011 13.2448 7.20109 13.9167 7.20109L13.9167 9.20106Z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="profile__card-title">
                                    Изобретений
                                </div>
                            </div>
                        </li>
                        <li class="profile__list-item">
                            <div class="profile__card">
                                <div class="profile__card-top-row">
                                    <div class="profile__card-amount">
                                        70
                                    </div>
                                    <div class="profile__card-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M13.9167 9.20106C13.2448 9.20106 12.5776 9.34301 11.9529 9.61902C11.3282 9.89508 10.756 10.3012 10.2712 10.8182C9.78624 11.3355 9.39826 11.9534 9.13257 12.6375C8.86685 13.3218 8.72925 14.0575 8.72925 14.8016L6.72925 14.8016C6.72925 13.8122 6.91215 12.8311 7.26831 11.9139C7.6245 10.9967 8.14822 10.1594 8.81226 9.45106C8.89237 9.3656 8.97459 9.2823 9.05835 9.20106L0.510498 9.20106L0.510498 7.20109L9.05835 7.20109C8.97473 7.11997 8.89225 7.03739 8.81226 6.95207C8.14819 6.24375 7.62452 5.40646 7.26831 4.48921C6.91213 3.572 6.72925 2.59095 6.72925 1.60156L8.72925 1.60156C8.72925 2.34559 8.86685 3.08134 9.13257 3.76559C9.39826 4.44965 9.78628 5.06762 10.2712 5.5849C10.756 6.10192 11.3282 6.50807 11.9529 6.7841C12.5776 7.06011 13.2448 7.20109 13.9167 7.20109L13.9167 9.20106Z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="profile__card-title">
                                    Заявок на патенты
                                </div>
                            </div>
                        </li>
                        <li class="profile__list-item">
                            <div class="profile__card profile__card--brown">
                                <div class="profile__card-top-row">
                                    <div class="profile__card-amount">
                                        21
                                    </div>
                                </div>
                                <div class="profile__card-title">
                                    Получено патентов
                                    в РФ
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>