<div class="swiper-slide">
    <section class="section" data-section-name="scheme">
        <div class="scheme">
            <div class="scheme__top-row">
                <h2 class="scheme__heading">
                    Принципиальная технологическая схема завода по глубокой переработке тяжелых остатков перегонки нефти
                    (КГПТО)
                </h2>
                <img src="/images/scheme-legend.svg" alt="" class="scheme__legend">
            </div>
            <div class="scheme__wrapper">
                {{> scheme-illustration }}
            </div>
        </div>
    </section>
</div>