<div class="swiper-slide">
    <section class="section" data-section-name="sulfur">
        <div class="sulfur">
            <div class="sulfur__content">
                <div class="sulfur__top-row">
                    <div class="sulfur__title-wrapper">
                        <h2 class="sulfur__title">
                            Динамика степени<br> извлечения <em>серы</em><br>
                            из нефти, %
                        </h2>
                        <div class="sulfur__year">
                            1995-2022 гг.
                        </div>
                    </div>
                    <div class="sulfur__legend">
                        <div class="sulfur__legend-item">
                            <div class="sulfur__legend-box">

                            </div>
                            <div class="sulfur__legend-text">
                                Извлечение серы,
                                % масс
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sulfur__chart">
                    <div class="sulfur__chart-circles">
                        <div class="sulfur__chart-circle">
                            0
                        </div>
                        <div class="sulfur__chart-circle">
                            15,5
                        </div>
                        <div class="sulfur__chart-circle">
                            26,5
                        </div>
                        <div class="sulfur__chart-circle">
                            29,7
                        </div>
                        <div class="sulfur__chart-circle">
                            54,9
                        </div>
                        <div class="sulfur__chart-circle">
                            79,4
                        </div>
                        <div class="sulfur__chart-circle">
                            98,0
                        </div>
                    </div>
                    <div class="sulfur__chart-marks">
                        <div class="sulfur__chart-mark">
                            <div class="sulfur__chart-mark-bar">
                                <div class="sulfur__chart-mark-bar-inner">
                                    <div class="sulfur__chart-mark-bar-circle">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sulfur__chart-mark">
                            <div class="sulfur__chart-mark-bar">
                                <div class="sulfur__chart-mark-bar-inner">
                                    <div class="sulfur__chart-mark-bar-circle">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sulfur__chart-mark">
                            <div class="sulfur__chart-mark-bar">
                                <div class="sulfur__chart-mark-bar-inner">
                                    <div class="sulfur__chart-mark-bar-circle">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sulfur__chart-mark">
                            <div class="sulfur__chart-mark-bar">
                                <div class="sulfur__chart-mark-bar-inner">
                                    <div class="sulfur__chart-mark-bar-circle">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sulfur__chart-mark">
                            <div class="sulfur__chart-mark-bar">
                                <div class="sulfur__chart-mark-bar-inner">
                                    <div class="sulfur__chart-mark-bar-circle">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sulfur__chart-mark">
                            <div class="sulfur__chart-mark-bar">
                                <div class="sulfur__chart-mark-bar-inner">
                                    <div class="sulfur__chart-mark-bar-circle">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sulfur__chart-mark">
                            <div class="sulfur__chart-mark-bar">
                                <div class="sulfur__chart-mark-bar-inner">
                                    <div class="sulfur__chart-mark-bar-circle">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sulfur__chart-years">
                        <div class="sulfur__chart-year">
                            <span class="sulfur__chart-year-circle"></span>
                            <span class="sulfur__chart-year-text">
                                <span>
                                    2000
                                </span>
                            </span>
                        </div>
                        <div class="sulfur__chart-year">
                            <span class="sulfur__chart-year-circle"></span>
                            <span class="sulfur__chart-year-text">
                                <span>
                                    2005
                                </span>
                            </span>
                        </div>
                        <div class="sulfur__chart-year">
                            <span class="sulfur__chart-year-circle"></span>
                            <span class="sulfur__chart-year-text">
                                <span>
                                    2020
                                </span>
                            </span>
                        </div>
                        <div class="sulfur__chart-year">
                            <span class="sulfur__chart-year-circle"></span>
                            <span class="sulfur__chart-year-text">
                                <span>
                                    1995
                                </span>
                            </span>
                        </div>
                        <div class="sulfur__chart-year">
                            <span class="sulfur__chart-year-circle"></span>
                            <span class="sulfur__chart-year-text">
                                <span>
                                    2015
                                </span>
                            </span>
                        </div>
                        <div class="sulfur__chart-year">
                            <span class="sulfur__chart-year-circle"></span>
                            <span class="sulfur__chart-year-text">
                                <span>
                                    2022
                                </span>
                            </span>
                        </div>
                        <div class="sulfur__chart-year">
                            <span class="sulfur__chart-year-circle"></span>
                            <span class="sulfur__chart-year-text">
                                <span>
                                    Проект
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sulfur__card">
                <div class="sulfur__card-bg">
                    <img src="/images/sulfur.webp" alt="" class="sulfur__card-bg-image">
                </div>
                <div class="sulfur__card-wrapper">
                    <div class="sulfur__card-wrapper-grid">
                        <div class="sulfur__card-text">
                            С&nbsp;2005 года АО&nbsp;&laquo;ТАИФ-НК&raquo;
                            увеличило степень извлечения серы в&nbsp;5,1 раз
                        </div>
                        <div class="sulfur__card-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-up"></use>
                            </svg>
                        </div>
                        <div class="sulfur__card-amount">
                            <span class="x">
                                х</span><span class="count">
                                5,1
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>