<div class="swiper-slide">
    <section class="section" data-section-name="taifcombi" data-section-duration="15">
        <div class="taifcombi">
            <div class="taifcombi__top-row">
                <h2 class="taifcombi__heading">
                    Общая схема процесса
                    TAIFCOMBI на&nbsp;2024 год
                </h2>
                <img src="/images/taifcombi-legend.svg" alt="" class="taifcombi__legend">
            </div>
            <div class="taifcombi__wrapper">
                {{> taifcombi-illustration }}
            </div>
        </div>
    </section>
</div>