<div class="swiper-slide">
    <section class="section" data-section-name="text-block">
        <div class="text-block">
            <div class="text-block__top-row">
                <h2 class="text-block__heading">
                    Краткая текстовая информация и комментарии
                    к&nbsp;слайдам АО «ТАИФ-НК» 2024 г
                </h2>
                <div class="text-block__pagination">
                    <div class="text-block__pagination-current">
                        01
                    </div>
                    <div class="text-block__pagination-divider">
                        /
                    </div>
                    <div class="text-block__pagination-total">
                        04
                    </div>
                </div>
            </div>
            <div class="text-block__content">
                <p>
                    АО «ТАИФ-НК», входящее в группу компаний ТАИФ, представляет собой один из самых экономически
                    эффективных
                    в мире производственных комплексов с законченным циклом по глубокой переработке нефтегазового сырья
                    с
                    максимальным производством светлых высококачественных нефтепродуктов.
                </p>
                <p>

                    Инновационные технологии открыли перед Группой ТАИФ новые горизонты в области нефтепереработки.
                    Благодаря слаженной работе коллектива и внедрению передовых решений, в том числе собственных
                    разработок,
                    к 2022 году компании удалось добиться впечатляющих результатов в выходе светлых нефтепродуктов. Если
                    в
                    1995 году из нефти извлекали лишь 36,3 % светлых нефтепродуктов, то к 2022 году -87,4%, а к марту
                    2024
                    года этот показатель достиг 94,6 %.
                    При этом планируется, что степень извлечения серы достигнет 98,0 %, что позволит нам производить
                    широкий
                    спектр высокомаржинальных нефтепродуктов с низким содержанием серы.
                </p>
                <p>
                    Столь значительный рост эффективности производства ТАИФ-НК стал возможен за счет планомерного
                    сокращения
                    выпуска низкодоходных темных нефтепродуктов, доля которых снизилась в 5-6 раз. Внедренный Группой
                    ТАИФ
                    подход позволил оптимизировать процесс переработки нефти, повысить его рентабельность и закрепить
                    передовые позиции компании по эффективности нефтепереработки.
                </p>
                <p>
                    В 2022 году выход светлых нефтепродуктов на ТАИФ-НК составил 87,4 % при средне-отраслевом значении
                    63,8
                    %. В 2024 году выход светлых нефтепродуктов в периоды работы КГПТО достигало значения в 94,6 %, что
                    выше
                    среднеотраслевого значения для НПЗ США. При этом по проектным данным максимально возможные
                    показатели
                    должны составить 98,2 % для извлечения светлых.
                </p>
                <p>
                    Кроме этого, ТАИФ-НК демонстрирует самые высокие показатели по степени извлечения серы, при этом
                    перерабатывая высоковязкую нефть с содержанием серы в районе 1,7-1,8% масс. Так, за 2022 год ТАИФ-НК
                    достиг степени извлечения серы из нефти в 79,4%.
                </p>
                <p>
                    Технологическую сложность и уникальность нефтеперерабатывающего комплекса Группы ТАИФ подтверждает
                    одно
                    из самых высоких по отрасли значений Индекса Нельсона. В соответствии с методикой расчета и на
                    основе
                    данных, представленных в журнале Oil & Gas Journal за 2022 год, ТАИФ-НК входит в первую двадцатку
                    технологически прогрессивных НПЗ мира с мощностью переработки свыше 8 млн тонн сырья в год.
                    Достигнутое
                    значение индекса Нельсона 12,8 выводит ТАИФ-НК на позицию одного из самых эффективных и
                    технологичных
                    предприятий нефтепере- работки в мире. Все это благодаря реализации комбинированного термо- и
                    гидрокрекинга по технологии TAIFCOMBI.
                </p>
                <p>
                    Всего за период с 1998-2023 годы в АО «ТАИФ-НК» для строительства новых и обновления действующих
                    производств было инвестировано 219,5 млрд руб., что эквивалентно 5,0 млрд долл за счет собственных и
                    заемных средств.
                    Наибольшие капитальные вложения осуществлялись с 2013 по 2017 годы в период строительства КГПТО, а
                    суммарные инвестиции в КГПТО составили 2,0 млрд долл. Компания ТАИФ, используя весь свой
                    производственный потенциал и огромные финансовые ресурсы, вывела Татарс- танскую нефтепереработку на
                    качественно новый мировой уровень, обеспечивая выпуск высококачественных конкурентоспособных
                    моторных
                    топлив.
                </p>
                <p>
                    Сегодня АО «ТАИФ-НК» состоит из трех структурных подразделений:
                </p>
                <ul>
                    <li>
                        Нефтеперерабатывающего завода с установками первичного разделения нефти и комплексом
                        гидроочистки
                        средних дистиллятов.
                    </li>
                    <li>
                        Завода бензинов - где внедрена единственная в России установка каталитического крекинга по
                        отечественной технологии, не уступающая лучшим мировым аналогам.
                    </li>
                    <li>
                        Комплекса глубокой переработки тяжелых остатков – уникальный проект в мировой нефтепереработке,
                        реализованный ГК ТАИФ.
                    </li>
                </ul>
                <p>
                    Ассортимент производимых АО «ТАИФ-НК» нефтепродуктов включает более 28 наименований. Основной
                    продукцией нашего предприятия на сегодняшний день является:
                </p>
                <ul>
                    <li>
                        СУГ– сырье для нефтехимии и для производства топлива;
                    </li>
                    <li>
                        Бензины автомобильные АИ-92-К5, АИ-95-К5;
                    </li>
                    <li>
                        Бензин прямогонный–сырьё для нефтехимии;
                    </li>
                    <li>
                        Дизельное топливо класса К-5 и ЕВРО-6;
                    </li>
                    <li>
                        Топливо для реактивных двигателей марки РТ;
                    </li>
                    <li>
                        Битумы марок ПБВ, БНД, PG;
                    </li>
                    <li>
                        Сера, гранулированная с чистотой 99,99 %;
                    </li>
                    <li>
                        Нефтяной пек - нефтяная спекающая добавка для производства анодной шихты в технологии выплавки
                        алюминия, а также для производства литейного кокса
                    </li>
                </ul>
                <p>
                    Производимая Обществом продукция, отвечает требованиям рынка, обладает высоким качеством и
                    соответствует российским и международным экологическим стандартам безопасности.
                </p>
                <p>
                    Краткое описание технологической цепочки производств «ТАИФ-НК».
                </p>
                <ol>
                    <li>
                        Нефтеперерабатывающий завод - сегодня включает в себя:
                        <ul>
                            <li>
                                Установка ЭЛОУ-АВТ-7 – была построена в 1979 году ПАО «Нижнекамскнефтехим» и
                                предназначалась для
                                переработки возросшего объема добываемой нефти с целью обеспечения топливом Нижнекамской
                                ТЭЦ и
                                обеспечения производства этилена сырьем, а уже позже, в 1997 году, для модернизации и
                                повышения
                                экономической эффективности, правительством было предложено АО «ТАИФ» взять установку в
                                аренду с
                                последующим выкупом. Собственно, 1997 год и стал отправной точкой развития амбициозных
                                целей группы
                                компаний построить в Республике мощный и высокоэффективный нефтеперерабатывающий
                                комплекс,
                                способный, в отличие от подавляющего большинства НПЗ в России и мире, производить
                                максимально
                                широкий спектр высокомаржинальной товарной продукции высокого качества, в том числе и
                                обеспечивая
                                ПАО «НКНХ» сырьем для нефтехимии. Данный проект требовал проведения модернизации
                                атмосферного блока
                                ЭЛОУ, вакуумного блока для производства ВГО и гудрона, строительства установки
                                гидроочистки средних
                                дистиллятов, установки висбрекинга и производства неокис- ленных дорожных битумов.
                            </li>
                            <li>
                                Установка ВИСБРЕКИНГА ГУДРОНА -была спроектирована компанией ОАО «ВНИПИ- нефть», г.
                                Москва, и
                                введена в эксплуатацию в 2003 году с целью получения топочного мазута М-100. Установка
                                сегодня
                                позволяет иметь гибкую схему для переработки гудрона.
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </section>
</div>