<div class="swiper-slide">
    <section class="section" data-section-name="text-block">
        <div class="text-block">
            <div class="text-block__top-row">
                <h2 class="text-block__heading">
                    Краткая текстовая информация и комментарии<br>
                    к слайдам АО «ТАИФ-НК» 2024 г
                </h2>
                <div class="text-block__pagination">
                    <div class="text-block__pagination-current">
                        03
                    </div>
                    <div class="text-block__pagination-divider">
                        /
                    </div>
                    <div class="text-block__pagination-total">
                        04
                    </div>
                </div>
            </div>
            <div class="text-block__content">
                <p>
                    Завод бензинов производит нафту — сырье для процессов нефтехи-мии, бензины АИ-92, АИ-95 и брендовый
                    бензин АИ-92 «ЭКО», который позволяет увеличить мощность двигателя до 10%, снизить расход топлива, а
                    также снизить выделение токсичных продуктов сгорания (СО и NOx).
                </p>
                <p>
                    В сложных геополитических условиях в 2022 году на установке каталитического крекинга был произведен
                    переход на отечественный катализатор с гарантированным сохранением высокого качества выпускаемой
                    продукции.
                </p>
                <p>
                    На сегодняшний день многие НПЗ мира работают над выбором и разработкой технологии глубокой
                    переработки тяжелых нефтяных остатков. А группа ТАИФ сегодня обладает наиболее высокой по
                    технологической и экономической эффективности процессом собственной разработки TAIFCOMBI по
                    сравнению с наиболее известными в настоящий момент технологиями, которая уже реализована в
                    промышленном масштабе на нефтеперерабатывающем комплексе АО «ТАИФ-НК». TAIFCOMBI позволяет
                    перерабатывать гудрон с выходом светлых нефтепродуктов до 98,2 % и самым большим выходом дизельного
                    топлива (более 55 % масс) по сравнению с другими технологиями. При этом, в процессе гидрокрекинга
                    гудрона, в отличие от дорогих катализаторов других процессов, используется сравнительно дешевая
                    специализированная угольная добавка, которая после процесса TAIFCOMBI в дальнейшем перерабатывается
                    с получением высокомаржинальных продуктов.
                </p>
                <p>
                    3. Завод по глубокой переработки тяжелых остатков – введен в эксплуатацию в 2021 году, что позволило
                    увеличить глубину переработки нефтяного сырья и извлечение из него светлых высококачественных
                    нефтепродуктов.
                </p>
                <p>
                    Сегодня процесс КГПТО состоит из:
                </p>
                <ul>
                    <li>
                        комплекса производств по жидкофазному термогидрокрекингу гудрона;
                    </li>
                    <li>
                        комплекса производств по газофазному гидрокрекингу гидрогенизата жидкофазного термогидрокрекинга
                        гудрона, в том числе в смеси с ВГО;
                    </li>
                    <li>
                        комплекса установок по фракционированию;
                    </li>
                    <li>
                        комплекса установок по производству водорода;
                    </li>
                    <li>
                        комплекса установок по производству азота и воздуха;
                    </li>
                    <li>
                        комплекса установок по производству серы.
                    </li>
                    <li>
                        Весь технологический процесс комплекса управляется через центральную операторную.
                    </li>
                    <li>
                        Сырьевые и продуктовые потоки КГПТО интегрированы в общее производство АО «ТАИФ-НК», что
                        позволяет перераспределять потоки для выпуска высококачественных и высокомаржиналь- ных
                        нефтепродуктов. Технология суспензионного гидрокрекинга в ходе пуско-наладочных и
                        опытно-промышленных испытаний была доработана специалистами Группы ТАИФ, путем внесения
                        существенных изменений в технологию, в результате чего мы имеем возможность перерабатывать
                        тяжелые остатки с максимальным извлечением высококачественных светлых нефтепродуктов. За это
                        время была достигнута конверсия гудрона до 92%, сейчас идет освоение проектных значений
                        конверсии гудрона в 95%.
                    </li>
                </ul>
                <p>
                    Продуктами КГПТО сегодня являются:
                </p>
                <ul>
                    <li>
                        Топливный газ;
                    </li>
                    <li>
                        Сера;
                    </li>
                    <li>
                        Пропановая и бутановая фракции;
                    </li>
                    <li>
                        Нафта – сырье для нефтехимии;
                    </li>
                    <li>
                        Дизельное топливо класса К-5 и ЕВРО-6;
                    </li>
                    <li>
                        Гидроочищенный вакуумный газойль (далее ГВГО);
                    </li>
                    <li>
                        Концентрированный остаток гидрокрекинга гудрона (далее КОГГ);
                    </li>
                    <li>
                        Отработанная добавка.
                    </li>

                </ul>
                <p>
                    Комплекс производств жидкофазного термогидрокрекинга предназначен для перера- ботки гудрона (тяжелых
                    фракций нефти) и тяжелого газойля каталитического крекинга в присутствии специализированной угольной
                    добавки в трех последовательно расположенных реакторах.
                </p>
                <p>
                    Специализированная угольная добавка со специальным набором физико-химических свойств служит для
                    адсорбции асфальтенов и металлов, тем самым защищая реактора от коксования, а также обеспечивая
                    защиту катализатора комплекса производств газофазного гидрокрекинга от отравления каталитическими
                    ядами. Далее поток проходит через секцию сепарации продуктов, где выделяется остаточный продукт
                    гидрокрекинга гудрона в непрерывном режиме, который дальше уходит на секцию противоточной промывки
                    отработанной добавки (СППД), а гидрогенизат направляются в комплекс производств по газофазному
                    гидрокрекингу, состоящий из реактора гидроочистки со стационарным слоем катализатора и реактора
                    гидрокрекинга со стационарным слоем катализатора, куда параллельно поступает и вакуумный газойль с
                    НПЗ.
                </p>
                <p>
                    Секция СППД это одна из разработок АО «ТАИФ-НК», которая позволила довести процесс глубокой
                    переработки тяжелых остатков до логического конца и ввести КГПТО в промышленную эксплуатацию.
                </p>
                <p>
                    Также на данной схеме представлена новая установка, которая введена в апреле этого года в
                    опытно-промышленную эксплуатацию. Это установка концентрирования остаточного продукта гидрокрекинга
                    гудрона, где помимо нефтяной спекающей добавки мы дополнительно извлекается ВГО, который далее идет
                    на установку каталитического крекинга Завода Бензинов.
                </p>
                <p>
                    Группа ТАИФ с 1998 года занимается поиском и анализом способов глубокой переработки тяжелых нефтяных
                    остатков, включая научные и опытно-промышленные исследования. Упорная работа в этом направлении и
                    приложенные усилия привели к принятию в 2011 году решения о строительстве Комплекса глубокой
                    переработки тяжелых остатков (КГПТО) на базе комби- нированного (совмещающего суспензионный
                    жидкофазный гидрокрекинг с газофазным гидроочисткой и гидрокрекингом в реакторах со стационарным
                    слоем катализатора) термогидрокрекинга с использованием специализированной угольной добавки. С 2012
                    по 2016 годы разработан базовый проект, осуществлено проектирование и строительство комплекса.
                    Однако, в ходе пуско-наладочных работ были выявлены множество проектных ошибок, что делало
                    технологию неработающей, вследствие чего эксплуатация КГПТО была невозможна.
                </p>
                <p>
                    Специалисты Группы ТАИФ разработали собственные технические решения, которые легли в основу
                    собственной технологии TAIFCOMBI. И в 2021 году КГПТО был официально введен в промышленную
                    эксплуатацию.
                </p>
                <p>
                    Достигнуть высокой эффективности переработки высокосернистой нефти позволили следующие основные
                    разработки группы ТАИФ:
                </p>
            </div>
        </div>
    </section>
</div>