<div class="swiper-slide">
    <section class="section" data-section-name="text-block">
        <div class="text-block">
            <div class="text-block__top-row">
                <h2 class="text-block__heading">
                    Краткая текстовая информация и комментарии
                    к&nbsp;слайдам АО «ТАИФ-НК» 2024 г
                </h2>
                <div class="text-block__pagination">
                    <div class="text-block__pagination-current">
                        02
                    </div>
                    <div class="text-block__pagination-divider">
                        /
                    </div>
                    <div class="text-block__pagination-total">
                        04
                    </div>
                </div>
            </div>
            <div class="text-block__content">
                <p>
                    Установка ГИДРООЧИСТКИ СРЕДНИХ ДИСТИЛЛЯТОВ - идея ее строительства заключалась в улучшении
                    эксплуатационных качеств топлив для внутреннего и внешнего рынка, а также доведения экологических
                    характеристик топлив до норм К-2. Комплекс гидроочистки средних дистиллятов (КГСД) был введен в
                    эксплуатацию в 2002 году. Вследствие роста экологических требований к моторным топливам в АО «ТАИФ-
                    НК», в 2008 и в 2011 годах проведены реконструкции комплекса, что позволило АО «ТАИФ-НК» начать
                    выпуск дизельного топлива по нормам -4 и К-5 (что соответствует европейским нормам Евро-IV и Евро-V)
                    одним из первых среди НПЗ РФ, в том числе и с увеличением объемов производства.
                </p>
                <p>
                    Основными установками Комплекса являются:
                </p>
                <ul>
                    <li>
                        установка получения водорода;
                    </li>
                    <li>
                        установка гидроочистки керосиновой фракции;
                    </li>
                    <li>
                        установка гидроочистки газойля;
                    </li>
                    <li>
                        установка получения элементарной серы.
                    </li>
                </ul>
                <p>
                    БИТУМНОЕ ПРОИЗВОДСТВО – было введено в эксплуатацию в феврале 2007 года для обеспечения
                    строительства дорог Республики Татарстан. Благодаря научному подходу, анализу большого массива
                    накопленных данных, включая углеводородный состав исходных смесей, режимов работы реактора, имеется
                    возможность достаточно точно подбирать составы, режимы для производства высококачественных битумов в
                    соответствии с международными стандартами, в том числе битумов с добавлением полимеров (ПБВ).
                </p>
                <p>
                    Асфальтобетон на основе модифицированного битума АО «ТАИФ-НК» характеризуется высокими значениями
                    предела прочности, коэффициента водостойкости, сдвигоустойчивости, усталостной долговечности, а
                    также повышенной низкотемпературной устойчивостью к образованию трещин. Его применение за счет более
                    высокой температуры размягчения снижает вероятность образования колеи на дорогах летом, а также
                    затраты на эксплуатацию и текущий ремонт дорожных покрытий за счет увеличения их срока службы.
                </p>
                <p>
                    ОЧИСТНЫЕ СООРУЖЕНИЯ – Цех локальной очистки промышленных сточных вод был полностью реконструирован с
                    применением самых современных технологий и введен в эксплуатацию в АО «ТАИФ-НК» в 2017 году. В этот
                    цех с заводов предприятия поступают промышленные сточные воды, из которых, благодаря современным
                    технологическим подходам удаляются до 99,99% нефтепродуктов и других загрязнителей, что позволило
                    создать «замкнутый водооборотный цикл». Данный проект является большим достижением в развитии
                    промышленной экологии не только Татарстана, но и всей России.
                </p>
                <p>
                    Поточная схема НПЗ, сердцем которого является ЭЛОУ-АВТ, обеспечивает сырьем все другие процессы
                    вторичной переработки. Особенностью данной схемы является его гибкость и универсальность, которая
                    позволяет интегрировать потоки Завода бензинов и КГПТО и рентабельно эксплуатировать все заводы АО
                    «ТАИФ-НК». Например: установка висбрекинга играет роль резервной установки для переработки гудрона,
                    водород для КГСД может быть получен как на установке получения водорода (УПВ) НПЗ, так и на УПВ
                    КГПТО.
                </p>
                <p>
                    2. Завод Бензинов
                </p>
                <p>
                    Установка Каталитического крекинга
                </p>
                <p>
                    Рост экономики Республики Татарстан и увеличение количества транспортных средств выявили в 2000-х
                    годах потребность Республики в высококачественных топливах. Рынок нефтепродуктов Республики
                    Татарстан характеризовался отсутствием собственного произ- водства высококачественного бензина, что
                    вело к значительному его удорожанию и росту издержек в экономике. Республика, имея богатейшие запасы
                    нефти, завозила автомобильное топливо из других регионов.
                </p>
                <p>
                    Для обеспечения нужд Республики автомобильным бензином собственного произ- водства, а также для
                    повышения конкурентоспособности перед другими регионами РФ, было принято решение о строительстве
                    завода по получению автомобильных бензинов.
                </p>
                <p>
                    Для реализации поставленной задачи компания «ТАИФ-НК» за три года построила первый в Татарстане и
                    уникальный для России завод бензинов по российской технологии, разработанной компанией «ВНИИП НП» г.
                    Москва. Первая партия продукции на этом заводе была получена в 2006 году. А проведенная в 2007-м
                    году реконструкция блока сероочистки легких фракций ППФ, ББФ и реконструкция в 2008 году установки
                    каталитического крекинга позволили АО «ТАИФ-НК» полностью перейти на выпуск автомобильных бензинов,
                    соот- ветствующих экологическому стандарту К-4 с содержанием серы не более 50 ppm. А уже после
                    реконструкции блока гидроочистки бензина каталитического крекинга с внедрением технологии
                    селективного гидрирования в 2016 году был произведен полный переход на производство автобензина
                    экологического класса К-5 и европейского стандарта Евро-V.
                </p>
                <p>
                    УПГК
                </p>
                <p>
                    После модернизации и реконструкции печей пиролиза с новейшей системой автоматизации и управления с
                    увеличением проектной мощности в 2004 году на заводе по производству этилена ПАО
                    «Нижнекамскнефтехим» возникла необходимость в увеличении поставки прямогонного бензина. Для
                    реализации этой задачи в АО «ТАИФ-НК» в сжатые сроки была спроектирована и построена установка
                    переработки газового конденсата. Строительство установки по переработке газового конденсата началось
                    в мае 2005 года. Высокие темпы строительства позволили ввести ее в эксплуатацию уже через год: в
                    2006 году на установке была получена первая продукция.
                </p>
                <p>
                    МТБЭ и ТАМЭ
                </p>
                <p>
                    С введением в эксплуатацию установки каталитического крекинга и началом производства автобензинов АО
                    «ТАИФ-НК» был вынужден приобретать высокооктановые компоненты, такие как толуол и метил-
                    третбутиловый эфир (МТБЭ). Имея собственное сырье для снижения себестоимости, АО «ТАИФ» приняло
                    решение создать в АО «ТАИФ- НК» собственное производство высокооктановых компонентов – метил-
                    трет-бутилового эфира (МТБЭ) и трет- амилового эфира (ТАМЭ). Обе секции установки этерификации были
                    введены в эксплуатацию в январе 2009 года.
                </p>
                <p>
                    Сегодня завод бензинов — это масштабное производство, которое состоит из:
                </p>
                <p>
                    Комплекса производства бензина, включающего в себя установки ККФ и установки производства МТБЭ и
                    ТАМЭ.
                    Комплекса переработки газового конденсата
                </p>
            </div>
        </div>
    </section>
</div>