<div class="swiper-slide">
    <section class="section" data-section-name="text-block">
        <div class="text-block">
            <div class="text-block__top-row">
                <h2 class="text-block__heading">
                    Краткая текстовая информация и комментарии
                    к слайдам АО «ТАИФ-НК» 2024 г
                </h2>
                <div class="text-block__pagination">
                    <div class="text-block__pagination-current">
                        04
                    </div>
                    <div class="text-block__pagination-divider">
                        /
                    </div>
                    <div class="text-block__pagination-total">
                        04
                    </div>
                </div>
            </div>
            <div class="text-block__content">

                <ul>
                    <li>
                        Разработка и запуск в работу узла редуцирования давления;
                    </li>
                    <li>
                        Разработка высокоэффективной секции выделения отработанной угольной добавки из
                        неконвертированного остатка;
                    </li>
                    <li>
                        Изучение и использование различных материалов и защитных покрытий, а также конструктивные
                        решения для предотвращения эрозии статического и динамического оборудования;
                    </li>
                    <li>
                        Разработка специализированной угольной добавки с новыми требованиями для эффективной конверсии
                        асфальтенов и обеспечения необходимой гидродинамики процесса;
                    </li>
                    <li>
                        Разработка новой технологии переработки неконвертированного остатка в концентрированный остаток
                        гидрокрекинга гудрона – продукт используется в металлургической промышленности (аналог анодного
                        кокса) с практическим полным отсутствием бензапиренов, а также ВГО – сырье для установки
                        каталитического крекинга;
                    </li>
                    <li>
                        Разработана технология производства литейного кокса из остаточных продуктов суспензионного
                        гидрокрекинга гудрона
                    </li>
                </ul>
                <p>
                    Всего за весь период разработки технологии TAIFCOMBI было разработано и внедрено более 230
                    собственных разработок и ноу-хау.
                </p>
                <p>
                    Сегодня ТАИФ ведет работу по патентованию и лицензированию технологии TAIFCOMBI, чтобы создать
                    возможность использования технологии нефтеперерабатывающими компаниями мира. На текущий момент ТАИФ
                    на основании 12 (двенадцати) изобретений подал 70 заявок на патенты, из которых 14 уже получено.
                    Заявки поданы в России, а также в странах Азии, Европы и США.
                </p>
                <p>
                    В настоящее время в процессе опытно-промышленной эксплуатации находится установка получения
                    концентрированного остатка гидрокрекинга гудрона (УПКОГГ), запуск которой и позволил дополнительно
                    увеличить глубину переработки и повысить выход светлых нефтепродуктов, а главное – переработать
                    остаточный продукт гидрокрекинга гудрона, тем самым исключить производство отходов нефтепереработки
                    и получить высокомаржинальные и востребованные продукты.
                </p>
                <p>
                    КОГГ – целевой продукт, связующее для производства анодной массы алюминиевых электролизеров, помимо
                    него на установке будет получен вакуумный дистиллят – сырье для действующей установки
                    каталитического крекинга.
                </p>
                <p>
                    По сравнению с установкой замедленного коксования, применяемой для переработки тяжелых остатков
                    нефтепереработки, установка получения КОГГ имеет ряд преимуществ. Отдельно стоит отметить
                    практически полное отсутствие бензапиренов, являющихся опасным канцерогеном, и серы в продуктах
                    установки.
                </p>
                <p>
                    Разработка данного процесса была выполнена авторским составом Группы ТАИФ с учетом опыта и знаний,
                    полученных в ходе проведения лабораторных испытаний и опытных пробегов.
                </p>
                <p>
                    Построенная АО «ТАИФ-НК» установка позволяет концентрировать тяжелые нефтяные остатки любой
                    вязкости, при этом, не допуская процесса коксования. Используемый аппарат назван механическим
                    высокотемпературным вакуумным реактором (МВВР).
                </p>
                <p>
                    С целью переработки отработанной добавки после процесса КТГ в более высокомаржи- нальный продукт АО
                    «ТАИФ-НК» планирует производство литейного кокса, который является специальным топливом для плавки
                    базальтовых сырьевых материалов, таких как базальтовая руда или базальтиты, из которых дальше
                    производят базальтовую теплоизоляцию. Помимо этого, данный продукт используется в виде
                    металлургического кокса в процессе выплавки чугуна. Особенностью литейного кокса является высокая
                    механическая прочность, высокая теплота сгорания и низкая реакционная способность к СО2, что
                    обеспечивает эффективное и эколо- гически чистое производство базальтовых волокон.
                </p>
                <p>
                    Технология производства литейного кокса также разработана специалистами ТАИФ и на текущий день уже
                    ведутся работы по привлечению проектных организаций к разработке проектной и рабочей документации
                    для строительства установки производства литейного кокса. В 2024 году АО «ТАИФ-НК» начало
                    строительство научно-исследовательского центра (НИЦ) в составе которого имеется пилотная установка
                    по технологии TAIFCOMBI. Планируется также расширение парка пилотных установок для разработок с
                    целью еще большего увеличения эффективности нефтепереработки. Основной целью которого является
                    развитие процессов глубокой переработки нефтяных остатков. Деятельность научно-исследовательского
                    центра позволит:
                </p>
                <ul>
                    <li>
                        Расширить сырьевую базу технологии TAIFCOMBI, в том числе за счет переработки смешанных
                        пластиковых отходов;
                    </li>
                    <li>
                        Производить подбор оптимальной специализированной угольной добавки для технологии TAIFCOMBI;
                    </li>
                    <li>
                        Производить подбор катализаторов газофазного гидрокрекинга и гидроочистки;
                    </li>
                    <li>
                        Составлять модели технологии TAIFCOMBI для масштабирования результатов пилотных испытаний;
                    </li>
                    <li>
                        Составлять математические модели технологии TAIFCOMBI для последующей успешной разработки
                        технологической части базового проекта и реализации технологии третьим лицам;
                    </li>
                    <li>
                        Подготовить специалистов по управлению процессами нефтепереработки, в том числе TAIFCOMBI, на
                        специализированных симуляторах;
                    </li>
                    <li>
                        Разрабатывать новые продукты, тем самым увеличивая ассортимент выпускаемой продукции.
                    </li>
                    <li>
                        Основной задачей Общества является повышение эффективности нефтегазопереработки путем развития
                        существующих и внедрения новых производственных мощностей, увеличения выпуска высокомаржинальной
                        продукции высокого качества и использования экологически безопасных технологий собственных
                        разработок с уменьшением операционных затрат.
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>