.processing {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  border-radius: 3rem;
  flex-grow: 1;
  gap: 3rem;
}

.processing__top-row {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  justify-content: space-between;
}

.processing__heading {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.2rem;
  max-width: 76rem;
}

.processing__text {
  width: 53rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 115%;
  color: #7a7b82;
}

.processing__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 1rem;
  margin-top: auto;
}

.processing__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 377 / 454;
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: white;
  padding: 4rem;
}

.processing__card-bg {
  position: absolute;
  inset: 0;
  z-index: -1;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    aspect-ratio: 377 / 200;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 100%
    );
  }
}

.processing__card-title {
  margin-top: auto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 450;
  line-height: 110%;
  letter-spacing: -0.08rem;
}

.processing__table {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-gap: 1rem;
}

.processing__table-header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-gap: 1rem;
  align-items: center;
}

.processing__table-header-cell {
  padding: 0.7rem 0;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  color: rgba(#7a7b82, 0.5);
  line-height: 120%;
  letter-spacing: -0.05rem;

  &:not(:first-child) {
    justify-self: center;
    text-align: center;
  }
}

.processing__table-body {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  padding: 0.9rem 1.2rem;
  grid-gap: 1rem;
  background-color: #f4f4f4;
  border-radius: 0.6rem;
  align-items: center;
}

.processing__table-body-cell {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.025rem;
  font-family: var(--inter);

  span {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.096rem;
    font-family: var(--suisse);
  }
  &:not(:first-child) {
    justify-self: center;
    text-align: center;
  }
}
