.scheme {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 3rem;
  padding: 5rem 5rem;
}

.scheme__top-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.scheme__heading {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.2rem;
  max-width: 93rem;
}

.scheme__legend {
  margin-left: auto;
  width: 64.8rem;
  height: auto;
  flex-shrink: 0;
}
.scheme__wrapper {
  display: block;
  pointer-events: none;
  position: relative;
  flex-grow: 1;

  svg {
    display: block;
    width: 100%;
    // height: auto;
    overflow: visible;

    height: 100%;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;

    & > * {
      // pointer-events: all;

      // &[class*="first"] {
      //   display: none;
      // }
      // &[class*="second"] {
      //   display: none;
      // }
      // &[class*="third"] {
      //   display: none;
      // }
      // &[class*="fourth"] {
      //   display: none;
      // }
      // &[class*="fifth"] {
      //   display: none;
      // }
      // &[class*="sixth"] {
      //   display: none;
      // }
    }
  }
}
