@use "media";

:root {
  --rf-dewi-expanded: "RF Dewi Expanded", sans-serif;
  --suisse: "Suisse Intl", sans-serif;
  --inter: "Inter", sans-serif;
  --primary-color: #008568;
  --bg-color: #f4f4f4;
  --text-color: #1a1a1c;
}
